@{
    ViewBag.Title = "Cancer : CRASMIB Organization";
}
<div class="row bg-info text-white p-3">
    <div class="container">
        <img src="~/Images/Cancer/cancer.png" class="img-fluid w-100" alt="Centre for Research in Ayurveda and Social Medicine for International Brotherhood" title="Centre for Research in Ayurveda and Social Medicine for International Brotherhood" />
        <h4 class="text-right bg-danger p-2">Centre for Research in Ayurveda and “Social Medicine for International Brotherhood”</h4>
    </div>
</div>


<div class="row bg-light  p-3 mt-1 mb-1">
    <div class="container shadow bg-light text-justify p-3 ">
        <p>
            कैंसर एक किस्म की बीमारी नहीं होती, बल्कि यह कई रूप में होता है। कैंसर के 100 से अधिक प्रकार होते हैं। अधिकतर कैंसरों के नाम उस अंग या कोशिकाओं के नाम पर रखे जाते हैं जिनमें वे शुरू होते हैं- उदाहरण के लिए, बृहदान्त्र में शुरू होने वाला कैंसर पेट का कैंसर कहा जाता है, कैंसर जो कि त्वचा की बेसल कोशिकाओं में शुरू होता है बेसल सेल कार्सिनोमा कहा जाता है।
        </p>
        <p>कैंसर शब्द ऐसे रोगों के लिए प्रयुक्त किया जाता है जिसमें असामान्य कोशिकाएं बिना किसी नियंत्रण के विभाजित होती हैं और वे अन्य ऊतकों पर आक्रमण करने में सक्षम होती हैं। कैंसर की कोशिकाओं रक्त और लसीका प्रणाली के माध्यम से शरीर के अन्य भागों में फैल सकती हैं।</p>
        <p>मित्रो कैंसर हमारे देश मे बहुत तेज़ी से बड़ रहा है । हर साल बीस लाख लोग कैंसर से मर रहे है और हर साल नए Cases आ रहे है । और सभी डॉक्टर्स हाथ-पैर डाल चुके है ।हमारी एक छोटी सी विनती है याद रखना … ” कैंसर के patient को कैंसर से death नही होती है, जो treatment उसे दिया जाता है उससे death सबसे अधिक होती है ” । माने कैंसर से ज्यादा खतरनाक कैंसर का treatment है । Treatment कैसा है ? ?आप सभी जानते है .. Chemotherapy दे दिया, Radiotherapy दे दिया, Cobalt-therapy दे दिया ।</p>

    </div>
</div>


<div class="row bg-info text-white p-3 m-1">
    <div class="container">
        <h3 class="text-right text-uppercase">Chemotherapy क्या होता है? </h3>
        <p>इसमें शारीर का जो प्रतिरक्षक शक्ति है Resistance power ! वो बिलकुल ख़तम हो जाती है । जब Chemotherapy दिए जाते है तो डाक्टर ये बोलते है की हम कैंसर के सेल को मारना चाहते है लेकिन होता क्या है अच्छे सेल भी उसी के साथ मर जाते है । </p>
        <p>मतलब क्या है Treatment लेने मे जो खर्च आपने कर दिया वो तो गया ही और रोगी भी आपके हाथ से गया । डॉक्टर आपको भूल-भुलैया में रखता है अभी 6 महीने में ठीक हो जायेगा 8 महीने में ठीक हो जायेगा लेकिन अंत में वो मर ही जाता है , कभी हुआ नही है के Chemotherapy लेने के बाद कोई बच पाया हो । आपके घर परिवार में अगर किसी को कैंसर हो जाये तो ज्यादा खर्चा मत करिए कियों की जो खर्च आप करेंगे उससे मरीज का तो भला नही होगा उसको इतना कष्ट होता है की आप कल्पना नही कर सकते ।</p>
    </div>
</div>
<div class="row bg-light  p-3 mt-1 mb-1">
    <div class="container shadow bg-light text-justify p-3">
        <p>उसको जो injections दिए जाते है, जो Tablets खिलाई जाती है, उसको जो Chemotherapy दी जाती है उससे सारे बाल उड़ जाते है, भ्रू के बाल उड़ जाते है, चेहरा इतना डरावना लगता है के पहचान में नही आता ये अपना ही आदमी है? इतना कष्ट क्यों दे रहे हो उसको ? सिर्फ इसलिए के आपको एक अहंकार है के आपके पास बहुत पैसा है तो Treatment कराके ही मानुगा ! होता ही नही है वो,</p>
        <p>और आप अपनी आस पड़ोस की बाते ज्यादा मत सुनिए क्योंकि आजकल हमारे Relatives बहुत Emotionally Exploit करते है । घर में किसीको गंभीर बीमारी हो गयी तो जो रिश्तेदार है वो पहले आके कहते है ‘ अरे All India नही ले जा रहे हो? PGI नही ले जा रहे हो ? Tata Institute बम्बई नही ले जा रहे हो ? आप कहोगे नही ले जा रहा हूँ मेरे घर में ही चिकित्सा …. अरे तुम बड़े कंजूस आदमी हो बाप के लिए इतना भी नही कर सकते माँ के लिए इतना नही कर सकते ” । ये बहुत खतरनाक लोग होते है !!</p>
        <p>हो सकता है कई बार वो Innocently कहते हो, उनका intention ख़राब नही होता हो, लेकिन उनको Knowledge कुछ भी नही है I

            बिना Knowledge के वो suggestions पे suggestions देते जाते है और कई बार अच्छा खासा पढ़ा लिखा आदमी फंसता है उसी में .. रोगी को भी गवाता है पैसा भी जाता है
        </p>
    </div>

</div>
<div class="clearfix"></div>
<div class="row bg-info text-white p-3 m-1">
    <div class="container">
        <h3 class="text-right text-uppercase">आयुर्वेद उपचार </h3>
        <p>
            हल्दी,पुनर्नवा,सदाबहार,गोमूत्र,कांचनार, हीरक भस्म,गेहू के ज्वारे,इत्यादि का रोगानुसार प्रयोग करना चाहिये।
        </p>
    </div>
</div>
<div class="row bg-light  p-3 mt-1 mb-1">
    <div class="container  shadow bg-light text-justify p-3">
        <h4>Cancer & AIDS CURE के लिये* सम्पर्क करें:-- </h4>
        <ul class="list-group p-3">
            <li>Holistic Approach</li>
            <li>People Oriented And People Centered Approach</li>
            <li>Corporate Approach </li>
            <li>Community Based Approach</li>
            <li>Multi-Related Approach</li>
        </ul>
    </div>
</div>
<div class="clearfix"></div>
