
@{
    ViewBag.Title = "COURSES : CRASMIB-INDIA";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row bg-info text-white p-3">
    <div class="container">
        <img src="~/Images/Common/Main-banner-ebooks-final_a.jpg" class="img-fluid w-100" alt="Centre for Research in Ayurveda and Social Medicine for International Brotherhood" title="Centre for Research in Ayurveda and Social Medicine for International Brotherhood" />
        <h4 class="text-right bg-danger p-2">Centre for Research in Ayurveda and “Social Medicine for International Brotherhood”</h4>
    </div>
</div>

<div class="row bg-light p-3">
    <div class="container">
        <h4 class="text-right bg-primary text-white p-3"><b>परमात्मानुभूति</b> </h4>
        <p class="text-justify">
            जिसमें यह जगत का आभास दर्पण में प्रतिबिंबित नगर के समान प्रतीत हो रहा है , वह ब्रह्म ही मैं हूँ । ऐसा जान लेने पर तुम कृतकृत्य हो जाओगे ।
            जो चेतन , अद्वितीय , आनन्दस्वरूप और निष्क्रिय
            " ब्रह्म " सत्यस्वरूप तथा अपना आद्य ( पहला - मूल ) स्वरूप है , उसको प्राप्त होकर नट ( नाटक वाला ) के समान धारण किये इस शरीररूपी मिथ्या वेष की आस्था त्याग दो ।
        </p>
    </div>
</div>

<div class="row bg-dark text-white p-3">
    <div class="container">
        <h4 class="text-right bg-danger p-2">NOVEL COURSES</h4>
        <p class="text-justify">CRASMIB-INDIA designing some path breaking courses so that the most underprivileged ones having no FORMAL education may also upgrade themselves for their best possible.</p>
        <p class="text-justify"><b>ELIGIBILITY : </b> 18 years age for 3 or 6 months certificate that can be completed in 2 years. </p>
        <p class="text-justify">Those above 18 years age but having no formal qualification (or below intermediate) may earn graduation or post graduation degree after qualifying 6 or 10 certificates respectively within 10 years where every certificate will be of 6 months duration. If any student completes 6 or 10 certificates in random areas then (s)he will earn graduation or post graduation degree respectively in INTERDISCIPLINARY STUDIES.</p>
        <p class="text-justify">Every 6 months certificate will consist of 6 courses in a semester where one course will consist of 16 audio/video/text lectures of 50 minutes duration (or 4 blocks each with 4 chapters) in the easiest possible terms so that even the least motivated learner may also enjoy & learn like watching a film. The focus of 1st certificate courses will be to motivate students understand the USE of emerging research for MANAGING CHANGE while certificates for degree level courses will focus on technological expertise.</p>
        <p class="text-justify">Some of the 6 months certificate programs are as follows: </p>
        <ul>
            <li>MOTHER & CHILD CARE</li>
            <li>HEALTH EDUCATION & CARE  </li>
            <li>COMPUTER EDUCATION</li>
            <li>WEB TECHNOLOGY </li>
            <li>VISUAL COMMUNICATION</li>
            <li>DANCE EDUCATION</li>
            <li>DIGITAL FILM MAKING</li>
            <li>ENVIRONMENT FRIENDLY DEVELOPMENT</li>
            <li>DIGITAL PLANNING & MANAGEMENT</li>
            <li>REGIONAL DEVELOPMENT</li>
        </ul>
        <p class="text-justify">One year post graduate diploma in COMPUTER APPLICATIONS with specialization in chosen area</p>

    </div>
</div>

<div class="row bg-info text-white p-3">
    <div class="container">
        <img src="~/Images/Common/Main-banner-ebooks-final_a.jpg" class="img-fluid w-100" alt="Centre for Research in Ayurveda and Social Medicine for International Brotherhood" title="Centre for Research in Ayurveda and Social Medicine for International Brotherhood" />
        <h4 class="text-right bg-danger p-2">Centre for Research in Ayurveda and “Social Medicine for International Brotherhood”</h4>
    </div>
</div>
