
@{
    ViewBag.Title = "Diploma : CRASMIB-INDIA";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row bg-info text-white p-3">
    <div class="container">
        <img src="~/Images/Common/CRASMIB_VISION.jpg" class="img-fluid w-100" alt="Centre for Research in Ayurveda and Social Medicine for International Brotherhood" title="Centre for Research in Ayurveda and Social Medicine for International Brotherhood" />
        <h4 class="text-right bg-danger p-2">Centre for Research in Ayurveda and “Social Medicine for International Brotherhood”</h4>
    </div>
</div>
