
@{
    ViewBag.Title = "PG Diploma in Medicine : CRASMIB INDIA";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row bg-info text-white p-3">
    <div class="container">
        <div class="h2 bg-danger p-2">
            <img src="~/Images/Common/CRASMIB_PHFI.jpg" class="img-fluid rounded shadow pb-2" alt="Post Graduate Diploma in HEERAK DEVADOOT" title="Post Graduate Diploma in HEERAK DEVADOOT" />
            Post Graduate Diploma in HEERAK DEVADOOT
            <img src="~/Images/Common/PGD-HP.jpg" class="img-fluid rounded shadow w-100" alt="Post Graduate Diploma in HEERAK DEVADOOT" title="Post Graduate Diploma in HEERAK DEVADOOT" />
            <h4 class="text-center bg-danger p-2">HEALTH PROMOTION (PGD-HP) HEERAK DEVADOOT OJA PRATIPOORAK KARYAKRAM</h4>
        </div>
    </div>
</div>

<div class="row bg-light p-3">
    <div class="container">
        <div class="p-2">

            <div class="h4 text-center p-2 text-justify">
                NESTO / PHFI is pleased to announce opening of applications for admission to ONE year Post Graduate Diploma in Health Promotion (PGD-HP).<br /> The course is being offered as distance education through Internet based platform (e-Learning).
                <img src="~/Images/Common/ApplyNowAdmissionOpen.jpg" class="img-fluid rounded p-2" style="position:relative;" />
            </div>
            <p class="text-justify">PGD-HP embraces theories & models of health promotion and behavior change, designing and implementation of health promotion programs, their evaluation at different levels along with basic concepts of epidemiology & biostatistics required in health promotion. After four successful batches with concentration offered in tobacco control, the next batch is being offered with new electives. Students can, now, choose from Oral Health Promotion, Maternal and Child Health Promotion, Prevention and Control of NCDs and Tobacco Control a selective component (3 months) within the PGD-HP based on their professional background and future career goals.</p>
            <p class="text-justify"><b>Eligibility : </b> Minimum qualification for admission to PGD-HP is a bachelor’s degree.</p>
        </div>
    </div>
</div>

<div class="row bg-warning p-5">
    <div class="container">
        <div class="p-2">

            <div class="h4 text-center p-2 text-justify">
                <img src="~/Images/Common/CareerProspects.jpg" class="img-fluid rounded p-2" style="position:relative;" />
            </div>
            <p class="text-justify">PGD-HP is geared towards training early to mid-career professionals globally & in India seeking to build a career in public health. It adds further value to the degree and experience of the candidate through specialized learning in health promotion from leading national & international experts. It will be helpful towards advancing career in public health sector in both government and non-government organizations.</p>
        </div>
    </div>
</div>

<div class="row bg-success text-white p-5">
    <div class="container">
        <div class="p-2">

            <div class="h4 text-center p-2 text-justify">
                <img src="~/Images/Common/CourseDelivert.jpg" class="img-fluid rounded p-2" style="position:relative;" />
            </div>
            <p class="text-justify">With E-learning, working professionals have the flexibility to study at their own pace while keeping their job commitments. Enrolled students can access recorded lectures, quizzes, reading material, discussion forum, Question & Answer board, assignments through internet at time of their convenience. They also get to participate in live talk sessions with leading international experts visiting PHFI.</p>
        </div>
    </div>
</div>
