
@{
    ViewBag.Title = "University : CRASMIB-INDIA";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row bg-info text-white p-3">
    <div class="container">
        <img src="~/Images/Common/CRASMIB_VISION.jpg" class="img-fluid w-100" alt="Centre for Research in Ayurveda and Social Medicine for International Brotherhood" title="Centre for Research in Ayurveda and Social Medicine for International Brotherhood" />
        <h4 class="text-right bg-danger p-2">Centre for Research in Ayurveda and “Social Medicine for International Brotherhood”</h4>
    </div>
</div>

<div class="row bg-info text-white p-3">
    <div class="container">
        <h4 class="text-right bg-danger p-2">
            University Division : CRASMIB-INDIA
        </h4>
        <p class="text-justify">
            The organization as declaring self explanatory meaning  by its name the international brotherhood & co- existence, it has promoted and has started basic activates of two universities-
        </p>
    </div>
</div>

<div class="row bg-info text-white p-3">
    <div class="container">
        <h4 class="text-right bg-danger p-2">
            Panel of Experts : CRASMIB-INDIA
        </h4>
        <p class="text-justify">
            University Division has sufficient experts associated from different steams and profession. We have doctors, social scientists, advisors, development scientists, Engineers and environmentalists. Irrespective of all these experts we have good numbers of MSWs associated with us as volunteers.
        </p>
    </div>
</div>

<div class="row bg-info text-white p-3">
    <div class="container">
        <h4 class="text-right bg-danger p-2">
            University of Universal brotherhood and International Cooperation : CRASMIB-INDIA
        </h4>
        <p class="text-justify">
            Taking into consideration the present day immersing social scenario at the national and international level. We shall find that these societies are beset with a plethora of Malaises of various sorts. Which naturally compel us to devise ways and means to lessen the human miseries the world over. In this regards our thoughts go to the remote past in invested with physical and metaphysical characteristic and to the accompaniment of social, moral and ethical values. And last but not the least the application of spiritual medicines (Part of Ayurveda Science) must be applied in its most advanced and original scientific ways.
        </p>
    </div>
</div>
<div class="row bg-info text-white p-3">
    <div class="container">
        <h4 class="text-right bg-danger p-2">
            University of Universal brotherhood and International Cooperation : CRASMIB-INDIA
        </h4>
        <p class="text-justify">
            Taking into consideration the present day immersing social scenario at the national and international level. We shall find that these societies are beset with a plethora of Malaises of various sorts. Which naturally compel us to devise ways and means to lessen the human miseries the world over. In this regards our thoughts go to the remote past in invested with physical and metaphysical characteristic and to the accompaniment of social, moral and ethical values. And last but not the least the application of spiritual medicines (Part of Ayurveda Science) must be applied in its most advanced and original scientific ways.
        </p>
        <p class="text-justify">The need of the hour is to revive these values, specially in views of the copious U.N.O. reports on health and education, economy in order to improve the deteriorating social conditions of universal brotherhood through Ayurveda for which we need adequate land and buildings and as such it shall be very much appreciated that the resourceful persons and organizations may contribute their might through donations and other acts of charity which shall go a long way to render service to the society. It may be added here that donational made to this centre are exempted from income tax under section 80G of Indian Income Tax 1961.</p>
        <p class="text-justify">We need land to the extent of 52 Acres to House, Office Complex, University, Research Centre, Production Unit, and Gaushala, Boardings, Guest Houses and other academic expansion under plan.</p>
        <p class="text-justify">Detailed offers for the above causes are invited from people at large.</p>
    </div>
</div>
<div class="row bg-info text-white p-3">
    <div class="container">
        <h4 class="text-right bg-danger p-2">
            International Kamdhenu Ahimsa University : CRASMIB-INDIA
        </h4>
        <p class="text-justify">
            Established by: The federation of all peace loving societies   on Jan. 1, 2006 (Network of 100 Research & Teaching Centres)
        </p>
        <p>
            <b>Present Chancellor,</b><br />
            <b>Dr. Madan Mohan Bajaj, Chancellor,</b><br />
            <b>Ph.D., (Delhi), D.Sc., (Japan), D.Sc.(WDP), Dr. Nat. Dev.,</b><br />
            <b>Dr. Inventions, Dr. Human Dis., D.A.R.E.P.(Sweden)</b><br />
            <b>Dr. Madan Mohan Bajaj, Chancellor,</b><br />
        </p>
    </div>
</div>

<div class="row bg-info text-white p-3">
    <div class="container">
        <h4 class="text-right bg-danger p-2">
            Courses : CRASMIB-INDIA
        </h4>
        <table class="table table-hover table-striped">
            <tr>
                <th>Activity/Programme</th>
                <th>Proposed Programme</th>
                <th>Requirements</th>
            </tr>
            <tr>
                <td>Lab Exp. D.P.U. O.P.D.</td>
                <td>
                    <ol>
                        <li>Enlargement of dispensing activity to cater 100 Patient a day.</li>
                        <li>Tripling the existing drug production capacity</li>
                        <li>Development of Lab , Library and extension of facilities</li>
                    </ol>
                </td>
                <td>Sr. Medical Officer Jr.Medical Officer Botancal & other Scientist workers for assistance 10 Bedded Hospital  Medicines/Herbs/disp cost Health Education Programme/Yoga Spiritual Health</td>
            </tr>
            <tr>
                <td>Central Adm. Office</td>
                <td>
                    <ol>
                        <li>Monitoring Unit Distrubution Centre & Manufacturing Centre for Drug Boxes containg house hold remedies. </li>
                        <li>Drug De addiction and Rehabilition with Yoga & Naturopathy.</li>
                    </ol>
                </td>
                <td>Pragramme chief, Drug Boxes 1000 packing Exp. Stationery, postage & Telephone Exp Bare foot volunteer Training </td>
            </tr>
            <tr>
                <td>Sleeping Centre reestablishment Phase</td>
                <td>Running exp. Mobile Drug Dispensing Unit. Re establishment of the sub centre/branch</td>
                <td>
                    Furniture and Accessories set Mobile Van dually fitted Team of coctors/Nurses and Asst.<br />
                    Drug Boses<br />
                    Medicines<br />
                    Petrol Exp.<br />
                    Driver<br />
                </td>
            </tr>
            <tr>
                <td>RCH main unit ISM Labs, Clinical Pathological labs </td>
                <td>
                    Staff, system and equipments with expertise and consultancy.
                    Indoor Hospital for hard deseases and internal medicine
                </td>
                <td>Technician, Doctors, Paramedical Staff, equipment system etc.</td>
            </tr>
            <tr>
                <td>Panch Gavya Aushidhi Centre</td>
                <td>Panch Gavya Aushidhi Production Plant</td>
                <td>Staff technicians worker “Public Man furniture and Equipments”</td>
            </tr>
            <tr>
                <td>Residential and Institutional Zonal Head Quarters with Dispensary and consulation pocket.</td>
                <td>Research and herbal Cultivation and processing centre for Ayurved Spiritual study and Scientific study centre Natual Indoor Hospital and yoga therapy Centre. </td>
                <td>Herb Cultivation at two places in lwo area research testing and formulating equipment Analytical Centre Biotechnologist Tech/Lab Assistant Field Workers Doctors Workers</td>
            </tr>
            <tr>
                <td>Dispensary and Education Residence</td>
                <td>Enlargement of the Programme to the maximum for village Health Education </td>
                <td>Doctor assistant furniture and Accessories Rural Health Technology Building Rent </td>
            </tr>
            <tr>
                <td>Pocket office </td>
                <td>Complete information centre and dispensing for publicity purposes National health policy correspondence and coordination work to be complete</td>
                <td>Staff (Doctor, PMS) Executive Vehicles Equipment Running </td>
            </tr>
            <tr>
                <td>Special research unit and miscelleneious work on social service/social development </td>
                <td>Tour and Culture Dept. Technical know how lab on cultivation and processing . shakti Samarth Branch.</td>
                <td>
                    Staff
                    (Doctor,PMS)
                    Executive
                    Vehicles
                    Equipment
                    Running Exp.
                </td>
            </tr>
        </table>
    </div>
</div>

<div class="row bg-info text-white p-3">
    <div class="container">
        <h4 class="text-right bg-danger p-2">
            Recognized and Supported by : CRASMIB-INDIA
        </h4>
        <ul>
            <li>International Scientific Research and Welfare Organization.</li>
            <li>International Academy of Biosciences, </li>
            <li>Mahavira International, </li>
            <li>Animal Welfare Society, India </li>
            <li>Ahimsa International.</li>
        </ul>
    </div>
</div>
