
@{
    ViewBag.Title = "Women And Child : CRASMIB-INDIA";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row bg-info text-white p-3">
    <div class="container">
        <img src="~/Images/Common/WomenAndChild_Crasmib_INDIA.jpg" class="img-fluid w-100" alt="Women and Child Development,Ayurveda Innovative, Integrative Development" title="Women and Child Development,Ayurveda Innovative, Integrative Development" />
        <h4 class="text-right bg-danger p-2">Women and Child Development,Ayurveda Innovative, Integrative Development</h4>
        <p class="text-justify">Ayurveda Innovations, an Integrative Development Project with Positive Health Course for Women – Creating awareness against lost immunity, leadership for Rehabilitation of Adolescent, Female Child, especially beneficent for children of AIDS affected Families / Parents.</p>
    </div>
</div>

<div class="row bg-light p-3">
    <div class="container">
        <h4 class="text-right bg-primary text-white p-3">Introduction</h4>
        <p class="text-justify">The happiness of mankind shall be real when men and women act as a complement to each other. Education of women has to be looked into in the perspective of human values leading a happy and peaceful life. Women’s leadership in the field of Ayurveda based social and preventive medicines must be enhanced.<b> Women adolescent must be imparted education to become healthy mothers with developed immune system.</b> They should be able to provide easy home dispensing compassionate care and love to give birth to healthy offspring.</p>
        <p class="text-justify">At the present time of economic crisis and stressful life adolescent and women need to be imparted with knowledge in reliable home remedies based on Ayurveda, Naturopathy and Yoga training for being physically robust. The women and adolescent need to be trained in herbal and tried out folk medicines made out of spices, herbs and vegetables grown in their kitchen gardens /fields. Even the most developed countries are educating to adhere to natural (organic) system cures due to ill /side effects of medicines of chemical origin.</p>
        <p class="text-justify">We have discovered incredible, mind boggling, facts of immunology, genetics, molecular biology in surgery, and medicines with specialization and super specialization but such treatment only available at a high cost which is again beyond the reach of common man poor India.</p>
        <p class="text-justify">Philanthropic of reaches to only a few. Commercialization in hospital and nursing homes have acquired a number of demerits of corruption, such as over costly investigation, extra- consultation of super specialist and over driving force in today medical practice. At times this attitude of doctors and a public has led to increased litigation against the doctors which should be devoted to the noble cause alleviating the suffering of humanity.</p>
        <p class="text-justify">	HIV + /AIDS – An Immuno-deficiency disease has become menacing health hazard threatening our very existence. If we have to combat its dire consequences have to be taught to the adolescents in depth ill effects of unhealthy sex must be taught to them, stress must be laid on preventive measures, than treating dying individual. AYURVEDA has great promise for prevention and maintenance of health of the persons suffering from this deadly disease.</p>

    </div>
</div>

<div class="row bg-info text-white p-3">
    <div class="container">
        <img src="~/Images/Common/WomenAndChild_Crasmib_INDIA.jpg" class="img-fluid w-100" alt="Women and Child Development,Ayurveda Innovative, Integrative Development" title="Women and Child Development,Ayurveda Innovative, Integrative Development" />
        <h4 class="text-right bg-danger p-2">CRASMIB has developed innovative integrative unique methodology </h4>
        <p class="text-justify">CRASMIB has developed innovative integrative unique methodology by imparting innovative health education which shall impart true education to adolescent girls to become healthy mother and invoke participation of their husband for a happy family life. This is the essence of Social Preventive means of Positive Health Care. CRASMIB proposes to promote holistic healing concept of fighting the diseases and strengthening the body immune system by Yoga and Nature Cure.</p>
        <ol start="1" type="1">
            <li>Social Medicine</li>
            <li>Development of Welfare Economics</li>
            <li>Community Health</li>
            <li>Nutriway to Health (Ahhar chikitsha)</li>
            <li>Ayurveda</li>
            <li>Naturopathy</li>
            <li>Our Concept for innovative Rendering of Indian Heritage of Ayurveda
            <ol start="1" type="a">
                <li>Women and Child Education</li>
                <li>Women Leadership</li>
            </ol>
            </li>
            <li>Unjust Gender Discrimination</li>
            </ol>
    </div>
</div>

<div class="row bg-light p-3 shadow">
    <div class="container">
        <h4 class="text-right text-white bg-danger p-2">Objective of the Training</h4>
        <p class="text-justify">The Training shall be conducted with the following objective: </p>
        <ol start="1" type="1">
            <li>Economic objective</li>
            <li>Health Objectives</li>
            <li>Social Objective</li>
            <li>Specific objectives</li>
            <li>Therapies to be taught</li>
</ol>
    </div>
</div>


