
@{
    ViewBag.Title = "GOWRI : CRASMIB-INDIA";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row bg-info text-white p-3">
    <div class="container">
        <img src="~/Images/Common/CRASMIB_VISION.jpg" class="img-fluid w-100" alt="Centre for Research in Ayurveda and Social Medicine for International Brotherhood" title="Centre for Research in Ayurveda and Social Medicine for International Brotherhood" />
        <h4 class="text-right bg-danger p-2">TOGETHER WE CAN CHANGE THE WORLD</h4>
       
    </div>
</div>

<div class="row bg-light  p-3">
    <div class="container shadow">
        <p class="text-center p-4 font-weight-bold">
            यत्र नार्यस्तु पूज्यन्ते रमन्ते तत्र देवता: ।<br />
            यत्रैतास्तु न पूज्यन्ते सर्वास्तत्राफला: क्रिया: ।।
        </p>
        <p class="text-center p-4">अर्थ = जहां पर स्त्रियों की पूजा होती है, वहां देवता रमते हैं । जहाँ उनकी पूजा नहीं होती, वहाँ सब काम निष्फल होते हैं ।</p>
        <p class="text-center p-4  font-weight-bold">
            Yatra Naryastu Pujyante Ramante Tatra Devata ।<br />
            Yatraitaastu Na Pujyante Sarvaastatrafalaah Kriyaah ।।

        </p>
        <p class="text-center p-4">Meaning: "Where Women Are Honored , Divinity Blossoms There; And Where They Are Dishonored , All Action Remains Unfruitful."</p>
        <p class="bg-danger text-white shadow rounded p-2">Considering the present era of civil liberties and freedom. It is a well established fact that prosperity of a Nation is directly proportional of the percentage of women have employment. The Report from the united NationsStates that Indian ECONOMY can increase by more than 20% in number of Employed women increases.   </p>
    </div>
</div>
<div class="row bg-info text-white p-3">
    <div class="container shadow">
        <h4 class="text-right bg-danger p-3">AMS &amp; OBJECT</h4>
        <p class="text-justify">Creating a WOMEN EMPOWERED gender just society.</p>
        <p class="text-justify">एक बार पुरुष अपने चित को शांत करके सोचें, यह मनन करें, चिंतन करें कि ऐसे पुरुष एस्वयं को नारी से सर्वोच्च समझने की भूल कर रहे हैं। सत्यता यही है कि परिवार में नारी ही सर्वोच्च है। नारी त्याग, शांति और ममता की देवी है। संस्कृत में कहावत है कि </p>
        <p class="text-center font-weight-bold">
            ‘यत्र नार्यस्तु पूज्यन्ते रमन्ते तत्र देवता: ।<br />
            यत्रैतास्तु न पूज्यन्ते सर्वास्तत्राफला: क्रिया: ।।
        </p>
        <p class="text-center">अर्थ = जहां पर स्त्रियों की पूजा होती है, वहां देवता रमते हैं । जहाँ उनकी पूजा नहीं होती, वहाँ सब काम निष्फल होते हैं ।</p>
        <p class="text-justify">कहा जाता है कि भारतीय नारी में ‘पति की सेवा’, ‘हृदय में स्नेह’, ‘चेहरे पर लाज’, ‘यातनाओं के बावजूद मीठी वाणी’ व ‘हाथों में निरंतर काम करने की आदत’ जैसे मुख्यत: 5 गुण होते हैं। यही गुण नारी की महानता के परिचायक हैं। हमें यह समझना चाहिए कि महिलाओं का सम्मान राष्ट्रहित में है। अत: महिलाओं का सम्मान करते हुए हमें उपरोक्त बुराइयों को छोड़ना चाहिए। मांस, शराब, गाली इत्यादि का त्याग करना चाहिए।</p>
        <p class="text-justify">भारतीय संस्कृति, सभ्यता व परंपराओं को हमारे समाज ने सादगी से आगे बढ़ाते हुए विदेशी संस्कृति में भारतीय संस्कृति को मिश्रित कर दिया है। अब पश्चिमी देशों में भी कई भारतीय पर्व मनाए जाने लगे हैं। क्या आपने कभी सोचा है कि ऐसा संभव कैसे हो सका? ऐसा संभव हुआ है हमारी मां, बेटी, बहनों और पत्नियों के कारण। सीधे शब्दों में कहूं तो इसका सारा श्रेय हमारी भारतीय नारी को जाता है। हमारी संस्कृति के सभी पर्वों को विधि-विधान से मनाना, प्राचीनतम रीति-रिवाजों का आज भी उसी शैली में पालन करना, यह सब हमारी माताएं-बहनें ही कर रही हैं और यदि गौर करें तो हम सिर्फ उन्हें इस दिशा में जरा-सा सहारा मात्र दे रहे हैं।</p>
        <p class="text-justify">हमारे अधिकांश पर्व जैसे होली, भाई दूज, रक्षा बंधन, दीपावली, नवरात्री, करवाचौथ, तीज, कृष्णजन्माष्टमी, अहोई अष्टमी, सरस्वती पूजन, गंगादशहरा सब महिलाओं पर ही केंद्रित हैं। सप्ताह में प्रत्येक शुक्रवार मां संतोषी देवी का व्रत, प्रत्येक माह की अष्टमी व एकादशी को महिलाओं द्वारा व्रत अधिकतर रखा जाता है। 12 माह में कोई भी ऐसा माह नहीं है जिसमें कोई पर्व अथवा विशेष दिन न हो। सारे पर्व नारी की महिमा का गौरवगान करते हैं, नारी का महत्व समझाते हैं, नारी को ही दिव्यमयी सर्वशक्तिशाली बताते हैं। वास्तविकता भी यही है कि समस्त सृष्टि की संरचना करने वाली नारी ही है व नारी की महानता का वर्णन करना आकाश में तारे गिनने जैसा है।</p>
        <p class="text-justify">हमारी संस्कृति व सभ्यता का निरंतर विकास करती आई नारी की ओर हमारा भी यह दायित्व है कि सदैव उनका सम्मान करें व साथ निभाएं। नारी आरंभ से ही घर की दुर्गा, लक्ष्मी व सरस्वती के रूप में रही है। लेकिन दुख तब होता है जब कुछ चंद पौरुषहीन लोग नारी का अपमान व उनसे दुराचार करते हैं। एक ओर हमारी महान संस्कृति को सहेजकर नारियां निरंतर संस्कृति का विकास कर रही हैं, वहीं दूसरी ओर पुरुष उस संस्कृति की ओर ज्यादा ध्यान नहीं दे रहे हैं। उलट वह अपना आचरण खराब कर रहे हैं। विदेशी सभ्यता की ओर बढ़ता आकर्षण व नशे की लत से बदलता स्वभाव इसकी मुख्य वजह है।</p>
        <p class="text-justify">आज हमारे समाज के ही अनेक बंधु साधारण बोलचाल में भद्दे, घिनौने अपशब्दों का अंधाधुंध इस्तेमाल करते हैं। तरह-तरह की गालियां देते हैं। सभी जानते हैं कि समाज में अगर गाली देते हैं, तो पुरुष ही देते हैं। तेरी मां की, तेरी बहन की आदि-आदि। पुरुष ही शराब पीते हैं, नशा करते हैं, मांस तक खाते हैं। वह यह नहीं सोचते कि हम क्या कह रहे हैं? किसे कह रहे हैं? और क्यों कह रहे हैं? हमारे इन शब्दों का क्या अर्थ निकल रहा है? जिस बेटी, बहन व मां की हम पूजा करते हैं, उनके लिए इतने घिनौने-गंदे अपशब्द। क्या जरा भी घृणा नहीं होती खुद से ऐसे अमर्यादित लोगों को। मैं स्पष्ट कर दूं कि शराब पीना व मांस खाना जैसी दुरावासी चीजें घर में नहीं होती। किसी मां की रसोई में कभी मांस नहीं बनता। वह पूर्णत: शुद्ध है। पुरुष बाहर बाजार में रेहड़ी, रेस्टोरेंट में जाकर यह सब करते हैं।</p>
    </div>
</div>
<div class="row bg-light p-3">
    <div class="container shadow">
        <h4 class="text-right bg-danger text-white p-2">APPROACH</h4>
        <p class="text-justify">Establish self sustainable GOWRI women leadership centres for independent livelihood of women by training, production, marketing, and,  By mobilizing these women and girls through community organizing and advocacy GOWRI strives to transform the cultural attitudes and laws underpinning the marginalized position of women in India today.</p>
        <p class="text-justify">रामायण और महाभारत को मानव इतिहास के परिपेक्ष मैं समझना होगा, इस विश्वास के साथ कि श्री राम और श्री कृष्ण इश्वर अवतार थे, तो आपको बहुत सारे धर्म मिलेंगे,... हर वृतांत में नया धर्म मिलेगा,... जो आज नहीं मिल रहे हैं, जिनको आलोकिक और चमत्कारिक शक्तियों की चादर ने ढक दिए |</p>
        <p class="text-justify">रावण की वीरता के गाथा और प्रक्रम की कहानियाँ झूटी है, हिन्दू समाज को भावनात्मक बना कर शोषण करने की चाल !</p>
        <p class="text-justify">
            पहले तो यह समझ लें की एक २ साल के बच्चे ...को भावनात्मक कहानियां ही पसंद आती हैं,
            अगर दो शक्तिशाले व्यक्तियों के बीच मैं युद्ध होने वाला हो,
            तो बच्चो की कहानी मैं, एक को हाथी जितना शक्तिशाली बना दिया जाएगा, और उसपर भी अलोकिक शक्तियां दे दी जायेंगी....
            और दुसरे को चीटी जितना छोटा ...अब बच्चे को आनंद इसी मैं आएगा कैसे चीटी हाथी को हराती है...
            कुछ ऐसा ही पुराणिक इतिहास का हाल है, जिसमें रामायण और महाभारत भी हैं...
            रावण एक कुशल चतुर राजनीतिज्ञ अवश्य था, वीर नहीं ...
        </p>
        <p class="text-justify">
            पूरी रामायण से अगर अलोकिक और चमत्कारिक शक्तियों की चादर हटा दीजिये, तो आप पायेंगे की वीरता के नाम पर उसकी कोइ उपलब्धियां नहीं थी !
            रावण की वीरता के गाथा और प्रक्रम की कहानियाँ झूटी है, हिन्दू समाज को भावनात्मक बना कर शोषण करने की चाल !
            रामायण और महाभारत को मानव इतिहास के परिपेक्ष मैं समझना होगा, इस विश्वास के साथ कि श्री राम और श्री कृष्ण इश्वर अवतार थे, तो आपको बहुत सारे धर्म मिलेंगे,... हर वृतांत में नया धर्म मिलेगा,... जो आज नहीं मिल रहे हैं, जिनको आलोकिक और चमत्कारिक शक्तियों की चादर ने ढक दिए |
            स्वाभाविक है, आपकी मानसिकता बदल जायेगी ....और प्रमाण?
            प्रमाण, आपको खुद आजमाँ कर देख
        </pclass="text-justify">
    </div>
</div>
<div class="row bg-info text-white p-3">
    <div class="container shadow">
        <h4 class="text-right bg-danger p-2">OUR STORY</h4>
        <p class="text-justify">The Center for Women's Development and Research (GOWRI) was founded in 1992 by a group of female activists in order to counter the lack of non-government organizations (NGOs) for women, led by women. They recognized the importance of female-led organizations in the improvement of women's issues.</p>
        <p class="text-justify">The GOWRI's goal was to serve the marginalized and vulnerable communities of women in the slums of different cities in INDIA and surrounding communities.</p>
        <p class="text-justify">The GOWRI has grown substantially in size and scope since 1993 and now serves close to 100 slums cities and villages in various districts. In addition, the GOWRI has expanded it's focus to include income generation projects for women such as catering, domestic worker job placement, and soap making. The GOWRI also became involved in relief efforts for women and children following tsunami &amp; Disaster.</p>
        <p class="text-justify">Through the building of strong relationships, teamwork, and collaboration with other NGOs and government organisations, the GOWRI has established itself as a leader and continues to successfully advance its mission at the grassroots level. Importantly, the GOWRI has earned the trust of the women in the communities it serves, aiding it's success as a grassroots organization. </p>
    </div>
</div>
