
@{
    ViewBag.Title = "Need_Personal_Assistance : CRASMIB-INDIA";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row bg-info text-white p-3 mb-2">
    <div class="container">
        <img src="~/Images/Common/CRASMIB_VISION.jpg" class="img-fluid w-100" alt="Centre for Research in Ayurveda and Social Medicine for International Brotherhood" title="Centre for Research in Ayurveda and Social Medicine for International Brotherhood" />
        <h4 class="text-right bg-danger p-2">Centre for Research in Ayurveda and “Social Medicine for International Brotherhood”</h4>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="container m-3 p-1 text-center shadow">
            <h1 class="h1">
                NEED & PERSONAL SERVICES FORUM
            </h1>
            <small class="text-right bg-light shadow p-2">ALL INDIVIDUAL IDENTITY, INFORMATION KEPT CONFIDENTIAL</small>
            <br />
            <h5 class="h5 m-3 p-2">
                Under the federation of CENTRE FOR RESEARCH IN AYURVED AND SOCIAL MEDICINE
                FOR INTERNATIONAL BROTHERHOOD (REGD.) INDIA (CRASMIB).
            </h5>
        </div>
    </div>
</div>
<div class="container">
    <div class="row ">
        <div class="container  bg-dark text-white m-3 p-3 text-center shadow">
            <div class="display-4">ULTIMATE WELFARE IS POSSIBLE ONLY BY NOURISHING THE ULTRAMINORITY CLASS OF THE WORLD WHICH SAYS THE MEEK SHALL INHERIT THE EARTH</div>
        </div>
    </div>
</div>


<div class="container">
    <div class="row ">
        <div class="container bg-secondary text-white m-3 p-3 text-center shadow">
            <div class="h2 w-100 p-2 bg-info text-white">Who Will be the Member of </div>
            <div class="p-2">
                The respected President /Chairman / Secretary / Director
                All Panic, problem, grievances, redressal services, (SARVA DUKHH DARD VINASHAK SEWA KENDRA)

            </div>
            <div class="p-2">
                Good investment for welfare and upliftment of weakest. We are for welfare, safety and favor of world’s most needy citizen prejudice.
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="row ">
        <div class="container bg-secondary text-white m-3 p-3 shadow">
            <div class="h5 w-100 p-2 bg-info text-white">Sub:   Free redressal of grievances / problems without any favor and of any kind and tapping the idle money / Material / other resources for needy person’s welfare</div>
            <div class="p-2">
                The admirable NEED AND PERSONNEL SERVICES FORUM   (SARVA DUKHH DARD VINASHSAK SEWA KENDRA  /  All Panic,  problem, grievances,  redressal  services acceptance.
            </div>
            <div class="p-2">
                For taping the Idle / extra money and other resources securing in the hand of rich, generous and wealthy person for the benefit and welfare of the needier and have-not being taken care of by the NEED AND PERSONNEL SERVICES PLATEFORM  unit of the  central council / under Organization CRASMIB is indeed very commendable. Under kind impression and Influenced by their noble task. I add below my particulars for all kind-hearted redressal /reliever of grief and suffering.
            </div>
            <div class="p-2">
                I know that this FURUM will Accept and utilize the idle / extra resources / money lying idle in the hands of rich and wealthy persons for extending the same to the services of destitute or the needy / have nots people to enable me / them to derive proper peace of mind and satisfaction in life.
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="row ">
        <div class="container bg-dark text-white m-3 p-3 shadow">
            <div class="h2 w-100 p-2 bg-info text-white">JOIN AS GENERAL MEMBER (FREE) </div>
            <div class="p-2">
                <ol>
                    <li>You need anything “Whatever your needs are “. Please register yourself with details.</li>
                    <li>Whatever YOU have spare “and you can spare something by heart for others in need “</li>
                </ol>
                <p>(Education for Transformation under NEEDY & PERSONNEL SERVICE Co – ordination Experts Administration)</p>
                <div class="text-center p-2 shadow">
                    @Html.Partial("_Gauri_Form1View")
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="row ">
        <div class="container bg-dark text-white m-3 p-3 shadow">
            <div class="h4 w-100 p-2 bg-info text-white">
                MEMBERSHIP & ENTRY FORM FOR SPECIAL CATEGORY
                NEED AND SERVICES Co-ordination Membership, ( GLOBAL )
            </div>
            <div class="p-2">
                <div class="p-2">
                    To, Jury (Global Fraternity by INTERNATIONAL   BROTHERHOOD, KRUNAVANTO VISHVAYURVEDAM), <br /> 4TH Floor, 26/32 (Pal Mohan Sadan), East patel nagar, Rajendra Place, New Delhi – 110008,<br /> Tel No., 9868576628.<br /> Email:  crasibndia@gmail.com
                </div>
                <div>(Feeling a healthy love for oneself is the first step a person takes towards finding love and happiness in his / her life. The first ripple of love must rise in your heart. When a stone is thrown in a lake it creates ripples around it, the ripple then spread beyond stone and towards distant shores. Similarly, the first ripple of love in your heart will spread into different spheres; you will love your body, your entire being, your totality of existence.</div>
                <div class="p-2">
                    WE ARE HERE TO UNDERSTAND AND HELP YOU.  STRENGTHENING OF GENEROUS, COLLECTIVE & COMPETETIVE MOVEMENT IS YOURS, BY YOU & FOR YOU. HELP AND STRENGTHEN NEED&PERSONAL SERVICES forum, TO REACH OUT TO OTHERS AND SO AS TO YOU IN ALL NEEDS.
                </div>
            </div>
        </div>
    </div>
</div>


<div class="container">
    <div class="row ">
        <div class="container bg-dark text-white m-3 p-3 shadow">
            <div class="h2 w-100 p-2 bg-info text-white">
                RULES & REGULATIONS
            </div>
            <div class="p-2">
                <ol>
                    <li>The Membership is open for all from any part of world.</li>
                    <li>Financial contribution is non-refundable under all circumstances.</li>
                    <li>Incomplete or incorrect forms will not be accepted.</li>
                    <li>Personal issues for dignity will be kept confidential. The selection of the members will be listed on10th day after lapse of every 3rd month (Quarterly), </li>
                    <li>The membership is primarily open for committed persons whereas regular membership shall be on recommendation of two primary members.</li>
                    <li>The Applicants / Members will have to participate in a disciplined and diligent manner throughout. </li>
                </ol>
                <p>(Feeling a healthy love for oneself is the first step a person takes towards finding love and happiness in his/her life. The first ripple of love must rise in your heart. When a stone is thrown in a lake it creates ripples around it, the ripple then spread beyond stone and towards distant shores. Similarly, the first ripple of love in your heart will spread into different spheres; you will love your body, your entire being, your totality of existence.</p>
                <h3>WE ARE HERE TO UNDERSTAND AND HELP YOU.  STRENGTH IN THE COLLECTIVE & COMPETETIVE MOVEMENT IS YOURS, BY YOU, OF YOY & FOR YOU.   HELP AND STRENGTHEN NEEDY &PERSONAL SERVICES forum, TO REACH OUT TO OTHERS AND SO AS TO YOU IN ALL NEEDS.</h3>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="row ">
        <div class="container bg-secondary text-white m-3 p-3 shadow">
            <div class="h4 w-100 p-2 bg-info text-white">
                MEMBERSHIP & ENTRY FORM FOR SPECIAL CATEGORY NEEDY AND PERSONEL SERVICES Co-ordination Membership, (GLOBAL)
            </div>
            <div class="p-2">
                <div class="p-2">
                    @*@Html.Partial("_GauriMEMBERSHIP_2View");*@
                    DOCUMENTS & FEES TO ENCLOSE: -
                    <ul>
                        <li>One passport size color photograph, Two post-card size color photographs - one full length & one close-up</li>
                        <li>Age Proof (Photocopy of Passport, Birth Certificate, School Certificate or Driving License)</li>
                        <li>Provisional Membership Contribution FEES.</li>
                    </ul>

                    <div class="bg-light text-dark table-striped table-hover table-responsive  shadow p-2 m-2">
                        <div class="h4">Only Current service charges</div>
                        <table class="table bg-info text-white ">
                            <tr>
                                <th>1. MONTHLY MEMBERSHIP </th>
                                <td>Rs. 200/- </td>
                            </tr>
                            <tr>
                                <th>2. ANNUAL MEMBERSHIP </th>
                                <td>Rs. 2000/- </td>
                            </tr>
                            <tr>
                                <th>3. LIFETIME MEMBERSHIP </th>
                                <td>Rs. 20000/-</td>
                            </tr>
                        </table>
                    </div>

                    <div class="bg-light text-dark table-striped table-hover table-responsive  shadow p-2 m-2">
                        <div class="h3">CENTRAL MEMBERSHIP</div>
                        <p>Fee of Membership </p>
                        <p>The fee structure may be revised and decided from time to time.  Current fee structure is as given under.</p>
                        <div class="h4">Grade ORIGINAL</div>
                        <table class="table bg-info text-white ">
                            <tr>
                                <th>1. Founder Member </th>
                                <td>Rs. 5000000.00/- </td>
                            </tr>
                            <tr>
                                <th>2. Patron Member </th>
                                <td>Rs. 2550000.00/- </td>
                            </tr>
                            <tr>
                                <th>3. Life Member </th>
                                <td>Rs. 1000000.00/-</td>
                            </tr>
                            <tr>
                                <th>4. Association Member </th>
                                <td>Rs. 550000.00/-</td>
                            </tr>
                            <tr>
                                <th>5. Honored Member </th>
                                <td>Rs. 210000.00/-</td>
                            </tr>
                            <tr>
                                <th>6. Ordinary Member </th>
                                <td>Rs. 110000.00/-</td>
                            </tr>
                        </table>
                    </div>
                    <div class="h4">Grade GENERAL</div>
                    <table class="table bg-info text-white ">
                        <tr>
                            <th>1. Founder Member </th>
                            <td>No Fee </td>
                        </tr>
                        <tr>
                            <th>2. Life member </th>
                            <td>Atleast 	Rs.10,000/- </td>
                        </tr>
                        <tr>
                            <th>3. Associate member </th>
                            <td>Atleast 	Rs.5,000/-</td>
                        </tr>
                        <tr>
                            <th>4. Co-opted member </th>
                            <td>Atleast 	Rs.4,000/-</td>
                        </tr>
                        <tr>
                            <th>5. Executive member </th>
                            <td>Atleast 	Rs.3,000/-</td>
                        </tr>
                        <tr>
                            <th>6. Organisation intending affiliation</th>
                            <td>
                                Rs.1,500/-p.a.<br />
                                Rs.15,000/- for life
                            </td>
                        </tr>
                    </table>
                </div>
                </div>
                <p>(Feeling a healthy love for oneself is the first step a person takes towards finding love and happiness in his/her life. The first ripple of love must rise in your heart. When a stone is thrown in a lake it creates ripples around it, the ripple then spread beyond stone and towards distant shores. Similarly, the first ripple of love in your heart will spread into different spheres; you will love your body, your entire being, your totality of existence.</p>
                <h3>WE ARE HERE TO UNDERSTAND AND HELP YOU.  STRENGTH IN THE COLLECTIVE & COMPETETIVE MOVEMENT IS YOURS, BY YOU, OF YOY & FOR YOU.   HELP AND STRENGTHEN NEEDY &PERSONAL SERVICES forum, TO REACH OUT TO OTHERS AND SO AS TO YOU IN ALL NEEDS.</h3>
            </div>
        </div>
    </div>
</div>

