
@{
    ViewBag.Title = "Ojasy_Swarn_Prasan : CRASMIB-INDIA";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row bg-info text-white p-3">
    <div class="container">
        <img src="~/Images/Common/Ojasy_Swarn_Prasan.jpg" class="img-fluid w-100" alt="Centre for Research in Ayurveda and Social Medicine for International Brotherhood" title="Centre for Research in Ayurveda and Social Medicine for International Brotherhood" />
        <h4 class="text-right bg-danger p-2">OJASVI SUVARNA PRASHAN <small>A LIFELONG GIFT OF AYURVED</small></h4>
    </div>
</div>
<div class="row bg-light p-3">
    <div class="container">
        <p class="text-justify p-2">“Suvarna prashana” It is one of the methods of suvarna prashana explained in Ayurveda (KASHYAP SEMHITA) as unique method of boosting immunity and intellect of children. The modern days have left human beings amidst a lot of stress, the altered food habits, a great deal of distractibility, addictions, varied agricultural practices which in turn affect the strength of the individual both physically, immunologically, vitaly and mentally. This makes the humanity to fall a prey of diseases. In the ever-demanding competitive age of today there is always a need to excel. This in turn requires best of health and intelligence. Hence parents are always in search of a supplement, which will promote health and intelligence of their child. Ayurveda has explained such health promoting agents under name of rasayana. Suvarna prashan in particular is such rasayana mentioned in Ayurveda to promote immunity and memory of children.</small></p>
        <p class="text-justify p-2">Suvarna has the properties like that of Medha vardhana, Agni vardhana, Bala vardhana, Vrushya, Ayushyakara, Grahapaha etc. These unique properties can’t be left unharnessed as they can be made use to strengthen an individual. The modern vaccination techniques are specific and are of a great help only when a particular pathogen invades the body, which is a matter of chance. But the Ayurvedic technique like Suvarna prashan is nonspecific and is in action round the clock guarding the individual as it boosts the immunity in general. Ojasvi Suvarna Prashan has an added benefit as it is medhavardhaka and hence promotes intellect in addition to immunity.</p>

        <p class="text-justify p-2">Suvarna Prashana is practiced by many grannies of the family but it is not reached to every child as there are no too many grannies around here getting in this way, but the concerns of health and intelligence at every group of today’s generations. It is most requiredin the real way to put all majorities of children on right Health track of Swasthavrit.</p>
        <p class="text-justify p-2">The process in which SUVARNA (GOLD) are taken in the form of liquid , semi solid or paste form by children through their mouth is called SUVARNA PRASHAN.</p>
       
    </div>
</div>
<div class="row bg-dark text-white p-3">
    <div class="container">
        <h4 class="text-right  text-white bg-danger p-2">Doses and Time to give Ojasvi Suvarna Prashan</h4>
        <p class="text-justify p-2">Few drops of Ojasvi Suvarnaprashan, Every day Morning or At least on the Particular day of special assembly  for Parent, Teacher and child  and also on Pushya Nakshatra day which arrives after every 27 days.In order to get the whole and best benefit of since timetested Nectar & immunomodulator formula it is also recommended in a continuing followup with selected/prescribed / required either one or more medicine out of 40 approved medicines of AYUSH ALONGWITH ESSENTIAL SWASTHAVRITA BASED HEALTH EDUCATION may ever reach to the Public at large.</p>
    </div>
</div>
<div class="row bg-light p-3">
    <div class="container">
        <h4 class="text-right  text-white bg-danger p-2"> Ingredients of Ojasvi Suvarna Prashan</h4>
        <p class="text-justify p-2">Gold as Swarnabhasma, Vacha, Shankh Pushpi, Brahmi, Ashwagandha, Yashthimadhu, Giloyghan and Tulsi with the bese of Honey and Cow's ghruta are the components of Ojasvi Suvarnaprashan.</p>
    </div>
</div>
<div class="row bg-info text-white p-3">
    <div class="container">
        <h4 class="text-right bg-danger p-2">Benefits of Suvarna Prashan</h4>
        <ol>
            <li><b>Immune System :</b> towards diseases become very powerful and reconstituted (Rog pratikarak shakti / Vyadhikshhamatva /Immunostimulant and adaptogenic energy increases)</li>
            <li><b>Physical and mental strength : </b> becomes powerful. Inner and vital fullness of endurance speaks in behaviour.</li>
            <li><b>Grasping power, sharpness, analysis power, memory : </b> and conduct becomes very strong.</li>
            <li><b>Digestion power with feeling of hunger, absorbtion and bowel clearance : </b> all improves.</li>
            <li>Tones DELHI skin color, body glow and lusture, body surface radiates the inner energetic aura.</li>
            <li><b>Maximizes the strength of mind & body relation, self contentment and spiritual quotient which ultimately improves the inner psyche and seats of SATVAVAJAYA immunity.</b></li>
            <li><b>Anti – toxic power increases : </b>, hence fighting against poison in any form becomes strong in the child (e.g. Pesticides, fluorides, arsenic invaded / added in fruits, vegetables and water etc)</li>
            <li>The dhatus as shield of protection become stronger this gives strong cellular immunity as defensive protection against pathogenesis / infection.</li>
            <li>It helps in preventing diseases that come during <b>“teeth growing phase”</b></li>
            <li>It saves from diseases that occur due to<b> seasonal change.</b></li>
            <li>It also saves the child from different kinds of <b>Allergies.</b></li>
        </ol>
        <p class="text-justify p-2">Overall, it makes a child healthier more healthy / Most responsible and with good conduct in comparison to their previous responses and comparable than other children.</p>
    </div>
</div>
<div class="row bg-light p-3">
    <div class="container">
        <h4 class="text-right  text-white bg-danger p-2">NO-ILLS, NO-PILLS, NO-BILLS under health for all, and OLD IS GOLD, BUT GOLD IS NEVER OLD</h4>
        <p class="text-justify p-2">Immunity is one of the vital ingredients of the life to improve longevity and health index of a person. It applies not only in human beings but also in whole life (either it would be in any creature, plant or animal life). Generally we came across the cases studied in plants also that the decrease in immunological power reflects in its growth and yields (fruits, seeds, vegetables etc). Similarly in the decreased or lowered state of in immune power in animals and humans also leads to deficiency in life (disease transuded /vyadhigrusit/ojokshyut human life). In order to avoid the above situation it is wise, imperative to take proper steps to improve immune system of our children before it is too late. After long research study on integration of tribal system of health care with Ayurveda along with laboratory tests, the centre for research in Ayurveda and social medicine for international brotherhood has prepared an unique  ojasvi suvarnprashan goldherbal drops, ojasvi syrup, to improve immune system in children as well as pradarojus syrup prepared on potent Ayurveda female principles  for girls & ladies and  ojasvi, vayurodhak, liferegaining capsules & tablets to rejuvinate the people of other old age group  to combat against various infectious diseases, improve memory, intellect, vitality and will power. Our heartfelt slogans are NO-ILLS, NO-PILLS, NO-BILLS under health for all, and OLD IS GOLD, BUT GOLD IS NEVER OLD for our respected senior citizens.</p>
        <p class="text-justify p-2">Our research and analysis have proved that the improving immunity in children is giving them boost to life and more resistance power to diseases. The experimentation of immunological therapy has not only waded of the diseases but also improved the economic conditions and decreased dependencies on other toxic and half toxic allopathic medicines as if taken for self medication, from ouacks, counter dispensing by chemists (CHEMIST BHEE DOCTOR AB HO CHALE AZAD HINDOSTAN ME, BEEBIYAN UNKI HO GAYEEN DAKTARNI IS JAHAN ME). Quackery is on increase in every state of our country. It is creating bad name for the health system as a whole every one has to be beware of unscruplous so called doctors. They are creating much health problem rather than solving them. Our approach in community intervene with unruly practices at large and CRASMIB shall infuse social, moral and ethical values among practitioners with joining them OATH on their NOBLE Proffession. </p>
    </div>
</div>
