@{
    ViewBag.Title = "Home Page";
}

<div class="row bg-secondary">
    <div class="container  bg-secondary text-center p-5">
        <div class="row shadow bg-secondary p-4">
            <div class="col-2">
                <img src="~/Images/Crasmib_Ram_Rajya_Logo.jpeg" class="img-fluid img-thumbnail shadow" />
            </div>
            <div class="col-10 text-white">
                <h1 class="h1" style="font-size:36px;">अन्तर्राट्रीय संयुक्त राम राज्य संसद की स्थापना में सहायक हों </h1>
                <h5 class="h5">
                    आदौ रामतपो वनादि गमनं हत्वा मृगं काञ्चनम्,वैदेही हरणं जटायु मरणं सुग्रीव सम्भाषणम्।<br />
                    बाली निग्रहणं समुद्र तरणं लंका पूरी दाहनम्, पश्चाद्  रावण कुम्भकर्ण हननं I एतद्वि श्री रामायणम्।।
                </h5>
            </div>
        </div>
    </div>
</div>
<div class="row bg-dark">
    <div class="container bg-dark shadow text-white p-5">
        <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 p-4">
                <p class="text-justify" style="font-size:22px;">
                    तारकों में झिलमिलाता जो सदा वह राम है।<br /> 
                    बादलों से सिंधु तक जो बह रहा वह राम है||<br /><br />
                    मौन रह कर जो सभी कुछ कह रहा वह राम है|<br />
                    जो हमारी साँस में आ-जा रहा वह राम है ||<br /><br />
                    राम विश्व राजनीति के शोधक हैं, राज्य इश्वर की देन है |<br />
                    विश्व की कोइ सरकार इनका राज्य नही ले सकती ||
                </p>
                <p class="text-justify" style="font-size:22px;">एक राम दशरथ का बेटा | एक राम घट घट में बैठा ||<br />
                एक राम का सकल पसारा |  एक राम जगत से न्यारा || </p>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                <video height="400" controls="controls">
                    <source src="~/Video/Ram-Rajya.mp4" type="video/mp4" />
                </video>
               </div>
        </div>
        

    </div>    
</div>
<div class="row">
    <div class="container shadow p-3">
        <div class="row p-3">
            <div class="col-lg-5 col-md-5 col-sm-12 col-xs-12">
                @*<img src="~/Images/All_Are_Human.jpeg" class="img-fluid img-thumbnail shadow" />*@
                <iframe  height="450" width="450" src="https://www.youtube.com/embed/amKnUSYMmBw" frameborder="1" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div>
            <div class="col-lg-7 col-md-7 col-sm-12 col-xs-12">
                <p class="text-justify">मर्यादा पुरुषोत्तम भगवान राम का नाम भारतीय संस्कृति में रचा -बसा हुआ है। देशवासी भगवान राम को आराध्य के रूप में पूजते,  और उनके दिलों में भगवान राम निवास करते हैं। </p>
                <p class="text-justify">भारतीय मुद्रा यानी रुपयों पर अशोक स्तंभ और महात्मा गांधी को तो जगह मिली,  लेकिन भगवान इस रेस में पीछे खड़ा किया गया।</p>
                <p class="text-justify">
                    भारत में भले ही भगवान राम को नोटों पर जगह न मिली हो, लेकिन दुनिया में एक देश ऐसा भी है जहां राम नाम की मुद्रा प्रचलित है।
                </p>
                <p class="text-justify">
                    राम राज्य की बात तो भारत में होती है, लेकिन राम नाम की मुद्रा चलती है यूरोपीय देश नीदरलैंड्स में।
                </p>
                <p class="text-justify">इस मुद्रा को  ‘द ग्लोबल कंट्री ऑफ वर्ल्ड पीस’ संस्था ने वर्ष 2002 में जारी किया था। यह एक नॉन प्रॉफिट संस्था है और मेडिटेशन, शिक्षा व दुनियाभर के शहरों में शांति के प्रसार के लिए काम करती रही है। </p>
                <p class="text-justify">
                    इसी संस्था ने ‘राम’ नाम की मुद्रा जारी की थी और इसके नेता थे न्यूरोलॉजिस्ट टॉनी नाडर।
                </p>
                <p class="text-justify">
                    वर्ष 2002 में  "जी सी डब्ल्यू पी"  ने अमेरिका के आईओवा स्थित महर्षि वेदिक सिटी में अपना हेडक्वार्टर बनाया। तीसरी दुनिया के देशों में कृषि प्रोजेक्ट के विकास, गरीबी को मिटाने के लिए इस ‘राम’ नाम की मुद्रा छापी गई। साल 2003 तक कुछ यूरोपीय व अमेरिकी शहरों में इस मुद्रा का इस्तेमाल शुरू हो चुका था।
                </p>
            </div>
            <p class="text-justify">
                राम’नाम की इस मुद्रा में चमकदार रंगों का इस्तेमाल किया गया है। राम मुद्रा के एक, पांच और दस के नोट उपलब्ध हैं। इन नोटों पर मर्यादा पुरुषोत्तम भगवान श्रीराम की फोटो भी लगी है। नोटों पर राम राज्य मुद्रा भी लिखा हुआ है। इस मुद्रा पर कामधेनु गाय के साथ-साथ कल्पवृक्ष की तस्वीर भी बनी है।
            </p>
            <p class="text-justify">
                बता दें कि अमेरिका के 35 शहरों में राम नाम के बांड चलते हैं। नीदरलैंड में तीस गांवों और शहरों की सौ से अधिक दुकानों में ये नोट चल रहे हैं।
            </p>
            <p class="text-justify">
                यहां ‘राम’ मुद्रा का उपयोग कानून का उल्लंघन नहीं हैं। नीदरलैंड की डच दुकानों में एक ‘राम’ के बदले दस यूरो मिल सकते हैं। इस वक्त लगभग एक लाख ‘राम’ नोट चल रहे हैं।
            </p>
            <p class="text-justify">लोग इसे बैंक में जाकर भुना भी सकते हैं। नीदरलैंड्स में सैंकड़ों दुकानों और गांवों व शहरों में 10 यूरो प्रति ‘राम’ पर यह मुद्रा चल रही है। इस मुद्रा के नोट 1 राम, 5 राम और 10 राम के रूप में छपी है।</p>
            <p class="text-justify">
                इनके संस्थापक महर्षि महेश योगी का जन्म 12 जनवरी 1917 को मौजूदा छत्तीसगढ़ के राजिम शहर के पास पांडुका गांव में हुआ था। 40 और 50 के दशक में वे हिमालय में अपने गुरु से ध्यान और योग की शिक्षा लेते रहे। साठ के दशक में मशहूर रॉक बैंड बीटल्स के सदस्यों के साथ ही वे कई बड़ी हस्तियों के आध्यात्मिक गुरु हुए और दुनियाभर में प्रसिद्ध हो गए।
            </p>
            <p class="text-justify">
                पश्चिम में जब हिप्पी संस्कृति का बोलबाला था, महर्षि महेश योगी ने अनुभवातीत ध्यान "(Transcendental Meditation)"  के जरिए दुनियाभर में अपने लाखों अनुयायी बनाए। कहा जाता है कि दुनियाभर में महर्षि महेश योगी के करीब 60 लाख अनुयायी हैं।
            </p>
            <p class="text-justify">
                योग और ध्यान को दुनिया के कई देशों में पहुंचाने वाले आध्यात्मिक गुरु महर्षि महेश योगी का नीदरलैंड्स स्थित उनके घर में, 91 वर्ष की आयु में 5 फरवरी 2008 को निधन हो गया।
            </p>
            <p class="text-justify">
                आपको यह भी बता दे कि थाईलैण्ड का रामायण रामकियेन है। जिसे हिन्दी में राम कीर्ति कहते है। थाईलैण्ड के सैकडों मुद्रा पत्रों पर तथा डाक टिकटों पर राम की मूर्ति है। वहां की प्राचीन राजधानी अध्योध्या और राजाओं की उपाधिक राम रही है।
            </p>
            <p class="text-justify">
                इण्डोनेशिया में राम लीला राष्ट्रीय महोत्सव है। कम्बोडिया में अंकोरबाट में राम भिन्ति चित्र मुख्य आकर्षण के कारण है। श्रीराम कथा क्यांमार मूंचरिया मलेशिया जापान में प्रचलित है।
            </p>
            <p class="text-justify"> फीजी मारीशस, गुमाना, सूरीनाम, जिनिदाद के लोग राम के आदर्श जीवन से भली भांति परिचित है। </p>
            <p class="text-justify">
                इतना नही नहीं रामायण का अनुवाद चीन रूस में भी हुए है। अर्थात भगवान पूरे विश्व में पूजनीय है।
            </p>
            
        </div>
        
    </div>
</div>

<div class="row">

    <div class="container bg-dark text-white p-2">
        <h2 class="bg-info text-white p-2">अन्तर्राष्ट्रीय संयुक्त राम राज्य संसद की स्थापना में सहायक हों </h2>
        <p>प्रिय,  प्रभु राम भक्तो,</p>
        <p>
            इष्ट मित्रो और अनन्य प्रभु श्री हरी भक्ति मन्डलों के सदस्य गणो | आइये राम राज्य पुनर्स्थापना के भागीदार भक्ति श्रृंखला में हम सब आहुति दें |
        </p>
        <p>आप सभी को प्रभु श्री राम के कार्य के लिए हमारा बहुत बहुत प्रेम, स्नेह, और राम राम, नमस्कार प्राप्त हो |</p>
        <p>हम सब अपने राम राज्य के विचारों और कार्यों को आगे बढ़ाते रहने के लिए दृढ़ संकल्प के साथ प्रतिबद्ध हों I</p>
        <p>हमारे राष्ट्र के संविधान के अनुसार आज तक जनता के द्वारा देश में बदलती हुई सरकारों का गठन होता आया है I आज वह दिन आ गया है जबकि हमारा राष्ट्र, हमारा समाज, हमारे भक्त लोग,  हमारी धरती मां,  हमारी संस्कृति,  और हमारी भावी पीढ़ी हमें आवाज दे रही है, और वह भी करुण कराह के साथ I </p>
        <p>हम कमर कसकर मैदान में खड़े हो जायें, और आज के अधर्म के आवेश और निवेश , सुदूर और गाँव-गाँव की चुनौती को स्वीकार करें I अब आने वाले भारत में अपने राम राज्य की स्थापना के क्रम में अन्ततः समस्त वसुधा, भूमन्डल पर अपना राम राज्य स्थापित कर सकें I </p>
        <p>आइए हम सब मिलकर श्री राम प्रभु के माया युक्त आचरण और श्री चरण कमलों मैं भक्तिमय होकर एक नए श्री राम पंचायती राज्य की स्थापना करके, अंतरराष्ट्रीय संयुक्त राम राज्य संसद की स्वतंत्र स्थापना करें I</p>
        <div>
            <h2><b>स्वामी राघवानन्द</b></h2><br />
            मो न  08920989066<br />
        </div>
    </div>
</div>