
@{
    ViewBag.Title = "Ram Rajya";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="container shadow">
    <img src="~/Images/Ram_Rajya_Banner.jpeg" width="100%" class="img-fluid shadow" />
</div>
<div class="row">
    <div class="container">
        <div class="row shadow">
            <h1 class="bg-danger text-white w-100  p-3">अन्तर्राट्रीय संयुक्त राम राज्य संसद का प्रतिनिधित्व मेरा समग्र प्रयास</h1>
            <div class="col-lg-8  col-md-8 col-sm-12 col-xs-12">

                <p class="text-justify">Who am I, where I am what for I am here.</p>
                <p class="text-justify">
                    It is the universal phenomena. A person inherits his / her birth, but the birth place may be in any part of universe.
                </p>
                <p class="text-justify">What we are to understand where we exist. It is a form of a man or women,  it is upto the supreme creation of the GOD.</p>
                <p class="text-justify">
                    We are here for having an unique and specific purpose that may be hidden or apparent.
                </p>
                <p class="text-justify">
                    We are meant to exert and play role of a noble soul, that brings us together in the universe with a one and single goal of revolving around the peace everywhere and whereever we exist.
                </p>
                <p class="text-justify">
                    We have forward this body with a very little effort to globalise the world and try to give a practical shape to the thinking and views of different parts of the world.
                </p>
                <p class="text-justify">
                    We are given different responsibilities which we called a group or organisation which we tried and established in the year 1992, on 17th day of september to give a practical effect to our thoughts and action.
                    As I am given certain responsibility which I am executing with faith forever and responsibility.
                </p>
                <p class="text-justify">
                    I am here to explain - The co existant relation of Ayurved,  RamRajya and world peace togather.......
                </p>

            </div>
            <div class="col-lg-4  col-md-4 col-sm-12 col-xs-12">
                <img src="~/Images/RamRajya.png" class="img-fluid img-thumbnail" />
            </div>
            <p class="text-center p-5 bg-danger shadow text-white w-100">
                <b>
                    शब्द के भी कोष में,मिलता नहीं अर्थ है...
                    इंसान को समझने में,इंसान ही असमर्थ है...
                </b>
            </p>
        </div>
        
    </div>
</div>

<div class="row bg-dark text-white">
    <div class="container shadow p-2" style="font-size:25px;">
        <h2 class="h2 bg-info p-3"> भगवान् श्रीराम की जन्म तिथि </h2>
        <p class="text-justify p-2">यद्यपि पुराणों के अनुसार श्रीराम का जन्म ७वे मन्वतर के २४वे त्रेतायुग में हुआ है । फिर भी पाश्चात्यों ने अपनी अटकल से उनका जन्म ईसा पूर्व कुछ शताब्दियों या सहस्राब्दियों में ही माना है । </p>
        <p>
            वैन्थली ने ई पू ९५० में<br />
            कर्नल टाड ने ई पू ११०० में<br />
            विल्फ़र्ड ने ई पू १३६० में<br />
            और विलियम जोन्स ने २०२९ ई पू में माना है ।<br />
        </p>
        <p class="text-justify p-2">
            पाश्चात्यों की तरह आधुनिक भारतीय विद्वान भी पाश्चात्यों के इस विचारधारा से बाहर नही निकल सके और वो भी अपनी अटकलों से ई पू के कुछ सहस्राब्दियों पू ही निर्धारित करते हैं ।
        </p>
        <p>
            प्रो कानूनगो ने ई पू ४४३३ में <br />
            सरोज बाला ने ई पू ५११४ में और पी वी वर्तक ने ई पू ७३२३ में निर्धारित किया है ।<br />
        </p>
        <p class="text-justify p-2">
            पाश्चात्य जिनके बाइबिल के अनुसार सृष्टि ही ४००४ ई पू में उत्पन्न हुई वो भगवान् श्रीराम का जन्म ईसा के आसपास ही सिद्ध करेंगे । जबकि भारतीय वैदिक परम्परा में सृष्टि की उत्पत्ति  दो सौ करोड़ पर्व पहले हुई थी । सूर्य ,गुरु और शनि के विचार से पाँचो उच्चस्थ ग्रहों की गणना करने से श्रीराम का जन्म काल १८५११४ वर्ष पू हुआ था किन्तु हम यहां अटकल नहीं लगाएंगे क्योकि शास्त्र ही प्रमाण हैं और शास्त्रों के अनुसार २४ वें त्रेतायुग की द्वापर की संध्यांश में हुआ था ।

        </p>

        <div class="text-center p-3" style="font-size:32px;">
            "चतुर्विंशे युगे रामो वसिष्ठेन पुरोधसा ।<br />
            सप्तमो रावणस्यार्थे जज्ञे दशरथात्मजः ।। (वायुपु०१८/७२)<br /><br />
            'सन्ध्यंशे समनुप्राप्ते त्रेताया द्वापरस्य च ।<br />
            अहं दाशरथी रामो भविष्यामि जगत्पति: ।।' (म०भा०१२/३३९)<br /><br />
        </div>
        <p class="text-justify p-2">इस शास्त्र वचन के अनुसार गणना करने पर भगवान् श्रीराम का जन्म १८१६०१५६  वर्ष पू २४ वे त्रेतायुग की द्वापरयुग की संध्यांश में हुआ था और श्रीराम-जानकीका विवाह १३ वर्ष की आयु में हुआ था और विवाह के १२ वर्ष बाद २५ वर्ष की आयु में वनवास हुआ था । १४ वर्ष वनमें रहकर ३९ वर्ष की आयु में ४०वें वर्ष में राजाधिराज बने । भगवान् श्रीराम ने ११००० वर्ष ११मास ११दिन तक अखण्ड भूमण्डल का राज्य किया था  ।</p>
    </div>
</div>
<div class="row">
    <div class="container shadow">
        <h2 class="bg-danger text-white p-3">स्वामी राघवानन्द</h2>
        <p class="text-justify p-2">
            मित्रो हमारे आराध्य देव पुरुषोत्तम राम की भी ध्वजा पूरे दुनिया मे है ।
            दुनिया का शायद ही कोई ऐसा व्यक्ति होगा जो पुरुषोत्तम राम के बारे में नहीं जनता हो , सभी भारतीय धर्मग्रंथों में राम का नाम आदर से लया गया है , राम के बिना हिन्दू धर्म और संस्कृति अधूरी है , जैसे हिन्दू अभिवादन के लिए "राम राम " शब्द का प्रयोग करते है मृत्यु बाद भी राम नाम सत्य है कहते हैं ।
        </p>
        <p class="text-justify p-2">भारत के बाहर भी थाईलेंड में आज भी संवैधानिक रूप में राम राज्य है , यूनेस्को मे संरक्षित शहर की स्थापना 1351 मे राजा यू थोंग द्वारा हुई थी जिसे की 1767 मे बर्मा द्वारा तबाह करने के बाद खण्डहर रूप मे छोड दिया गया।</p>
        <p class="text-justify p-2">
            उसका नाम भी क्रुंग काओ था। इसका अयोध्या नामकरण 1919 मे तत्कालीन थाई राजा वजिरावुद्ध ने किया है।
            ये नामकरण शाही गजट मे दिया है वहा ।
        </p>
        <p class="text-justify p-2">और वहां भगवान राम के छोटे पुत्र कुश के वंशज सम्राट " भूमिबल अतुल्य तेज " राज्य कर रहे हैं , जिन्हें नौवां राम ( Rama 9 th ) कहा जाता है ।</p>
        <p class="text-justify p-2">
            लोग थाईलैंड की राजधानी को अंगरेजी में बैंगकॉक ( Bangkok ) कहते हैं , क्योंकि इसका सरकारी नाम इतना बड़ा है , की इसे विश्व का सबसे बडा नाम माना जाता है ।
            थाई भाषा में इस पूरे नाम में कुल 163 अक्षरों
            का प्रयोग किया गया है , इस नाम की एक और विशेषता है , इसे बोला नहीं बल्कि गाकर कहा जाता है . कुछ लोग आसानी के लिए इसे "महेंद्र अयोध्या " भी कहते है , अर्थात इंद्र द्वारा निर्मित महान अयोध्या , थाई लैंड के जितने भी राम ( राजा ) हुए हैं सभी इसी अयोध्या में रहते आये हैं ।
        </p>
        <p class="text-justify p-2">यद्यपि थाईलैंड में थेरावाद बौद्ध के लोग बहुसंख्यक हैं , वहां का राष्ट्रीय ग्रन्थ रामायण है ,जिसे थाई भाषा में " राम कियेन " कहते हैं , जिसका अर्थ राम कीर्ति होता है , जो वाल्मीकि रामायण पर आधारित है , इस ग्रन्थ की मूल प्रति सन 1767 में नष्ट हो गयी थी , जिससे चक्री राजा प्रथम राम (1736–1809), ने अपनी स्मरण शक्ति से फिर से लिख लिया था , थाईलैंड में रामायण को राष्ट्रिय ग्रन्थ घोषित करना इसलिए संभव हुआ ,क्योंकि भारत की तरह वहां के नागरिक अपने पूर्वजों और प्राचीन परम्पराओं का उपहास नहीं करते, गर्व करते हैं।</p>
        <p class="text-justify p-2">
            थाई लैंड में राम कियेन पर आधारित नाटक और कठपुतलियों का प्रदर्शन देखना धार्मिक कार्य माना जाता है ,
            बौद्ध होने पर भी हिन्दू धर्म पर अटूट आस्था रखते हैं , इसलिए उन्होंने " गरुड़ " को राष्ट्रीय चिन्ह घोषित किया है , यहां तक कि थाई संसद के सामने गरुड़ बना हुआ है ।
        </p>
        <p class="text-justify p-2">
            कंपूचिया नामक देश में राम कथा रामकेर्ति नाम से प्रसिद्ध है । मलयेशिया की राम कथा और हिकायत सेरी राम है । फिलिपींस की राम कथा महालादिया लावन है । नेपाल की राम कथा भानुभक्त कृत रामायण है ।<br />
            कंपूचिया की राजधानी फ्नाम-पेंह में एक बौद्ध संस्थान है जहाँ ख्मेर लिपि में दो हजार ताल पत्रों पर लिपिबद्ध पांडुलिपियाँ संकलित हैं। इस संकलन में कंपूचिया की रामायण की प्रति भी है। फ्नाम-पेंह बौद्ध संस्थान के तत्कालीन निदेशक एस. कार्पेल्स द्वारा रामकेर्ति के उपलब्ध सोलह सर्गों (१-१० तथा ७६-८०) का प्रकाशन अलग-अलग पुस्तिकाओं में हुआ था। इसकी प्रत्येक पुस्तिका पर रामायण के किसी न किसी आख्यान का चित्र है।<br />
            १ कंपूचिया की रामायण को वहाँ के लोग 'रिआमकेर' के नाम से जानते हैं, किंतु साहित्य जगत में यह 'रामकेर्ति' के नाम से विख्यात है।<br />
            'रामकेर्ति' ख्मेर साहित्य की सर्वश्रेष्ठ कृति है। 'ख्मेर' कंपूचिया की भाषा का नाम है। इसके प्रथम खंड की कथा विश्वामित्र यज्ञ से आरंभ होती है और इंद्रजित वध पर आकर अंटक जाती है, दूसरे खंड में सीता त्याग से उनके पृथ्वी प्रवेश तक की कथा है। 'रामकेर्ति' का रचनाकार कोई बौद्ध भिक्षुक ज्ञात होता है, क्योंकि वह राम को नारायण का अवतार मानते हुए उनको 'बोधिसत्व' की उपाधि प्रदान करता है। इसके बावजूद 'रामकेर्ति' और वाल्मीकि रामायण में अत्यधिक साम्य है।<br />
            बर्मा में राम Rama (Yama) और Sita (Thida) को Yama Zatdaw नामक रामायण ग्रन्थ में लोप्रियता प्राप्त है ।<br />
        </p>
        </div>
    </div>
        <div class="row bg-dark text-white">
            <div class="container shadow">
                <p class="text-justify p-2">इसके अतिरिक्त Java, Bali, Malaya, Burma, Thailand, Cambodia and Laos सहित कई बुद्धिस्ट देशो में रामायण अति लोकप्रिय है । दुनिया के सबसे ज्यादा मुस्लिमो वाले देश इंडोनेशिया में रामलीला मुस्लिम करते है और वह विश्व प्रसिद्ध है ।</p>
                <p class="text-justify p-2">नेपाल के राष्ट्रीय अभिलेखागार में वाल्मीकि रामायण की दो प्राचीन पांडुलिपियाँ सुरक्षित हैं। इनमें से एक पांडुलिपि के किष्किंधा कांड की पुष्पिका पर तत्कालीन नेपाल नरेश गांगेय देव और लिपिकार तीरमुक्ति निवासी कायस्थ पंडित गोपति का नाम अंकित है। इसकी तिथि सं. १०७६ तदनुसार १०१९ई. है। दूसरी पांडुलिपि की तिथि नेपाली संवत् ७९५ तदनुसार १६७४-७६ई. है।</p>
                <p class="text-justify p-2">
                    नेपाली साहित्य में भानुभक्त कृत रामायण को सर्वाधिक महत्वपूर्ण स्थान प्राप्त है। नेपाल के लोग इसे ही अपना आदि रामायण मानते हैं। यद्यपि भनुभक्त के पूर्व भी नेपाली राम काव्य परंपरा में गुमनी पंत और रघुनाथ भ का नाम उल्लेखनीय है। रघुनाथ भ कृत रामायण सुंदर कांड की रचना उन्नीसवीं शताब्दी के पूर्वार्द्ध में हुआ था।
                    <br />एशिया के पश्चिमोत्तर सीमा पर स्थित तुर्किस्तान के पूर्वी भाग को खोतान कहा जाता है जिसकी भाषा खोतानी है। एच.डब्लू. बेली ने पेरिस पांडुलिपि संग्रहालय से खोतानी रामायण को खोजकर प्रकाश में लाया। उनकी गणना के अनुसार इसकी तिथि नौवीं शताब्दी है।१ खोतानी रामायण अनेक स्थलों पर तिब्बीती रामायण के समान है, किंतु इसमें अनेक ऐसे वृत्तांत हैं जो तिब्बती रामायण में नहीं हैं।
                </p>
                <p class="text-justify p-2">चीन के उत्तर-पश्चिम में स्थित मंगोलिया के लोगों को राम कथा की विस्तृत जानकारी है। वहाँ के लामाओं के निवास स्थल से वानर-पूजा की अनेक पुस्तकें और प्रतिमाएँ मिली हैं। वानर पूजा का संबंध राम के प्रिय पात्र हनुमान से स्थापित किया गया है।</p>
                <p class="text-justify p-2">१ मंगोलिया में राम कथा से संबद्ध काष्ठचित्र और पांडुलिपियाँ भी उपलबध हुई हैं। ऐसा अनुमान किया जाता है कि बौद्ध साहित्य के साथ संस्कृत साहित्य की भी बहुत सारी रचनाएँ वहाँ पहुँची। इन्हीं रचनाओं के साथ रामकथा भी वहाँ पहुँच गयी। दम्दिन सुरेन ने मंगोलियाई भाषा में लिखित चार राम कथाओं की खोज की है।  २ इनमें राजा जीवक की कथा विशेष रुप से उल्लेखनीय है जिसकी पांडुलिपि लेलिनगार्द में सुरक्षित है।</p>
                <p class="text-justify p-2">जीवक जातक की कथा का अठारहवीं शताब्दी में तिब्बती से मंगोलियाई भाषा में अनुवाद हुआ था जिसके मूल तिब्बती ग्रंथ की कोई जानकारी नहीं है। आठ अध्यायों में विभक्त जीवक जातक पर बौद्ध प्रभाव स्पष्ट रुप से दिखाई पड़ता है। इसमें सर्वप्रथम गुरु तथा बोधिसत्व मंजुश्री की प्रार्थना की गयी है। जीवक पूर्व जन्म में बौद्ध सम्राट थे। उन्होंने अपनी पत्नी तथा पुत्र का परित्याग कर दिया। इसी कारण उन्हें दोनों ने शाप दे दिया कि अगले जन्म में वे संतानहीन हो जायेंगे। जीवक की भेंट भगवान बुद्ध से हुई। उन्होंने श्रद्धा के साथ उनका प्रवचन सुना और उन्हें अपने निवास स्थान पर आमंत्रित किया। इस घटना के बाद जीवक की भेंट दस हज़ार मछुआरों से हुई। उन्होंने उन्हें अहिंसा का उपदेश दिया।</p>
                <p class="text-justify p-2">जीवक नामक राजा को तीन रानियाँ थीं। तीनों को कोई संतान नहीं थी। राजा वंशवृद्धि के लिए बहुत चिंतित थे। एक बार उन्होंने पुत्र का स्वप्न देखा। भविष्यवस्ताओं के कहने पर वे उंदुबरा नामक पुष्प की तलाश में समुद्र तट पर गये। वहाँ से पुष्प लाकर उन्होंने रानी को दिया। पुष्प भक्षण से रानी को एक पुत्र हुआ जिसका नाम राम रखा गया। कालांतर में राम राजा बने। उनके राज्य में प्रजा सुखी थी। उन्होंने अपने राज्य में बौद्ध धर्म के प्रचार हेतु कुकुचंद को आमंत्रित किया। बौद्ध धर्म ग्रंथ त्रिपिटक के चीनी संस्करण में रामायण से संबद्ध दो रचनाएँ मिलती हैं। 'अनामकं जातकम्' और 'दशरथ कथानम्'। फादर कामिल लुल्के के अनुसार तीसरी शताब्दी ईस्वी में 'अनामकं जातकम्' का कांग-सेंग-हुई द्वारा चीनी भाषा में अनुवाद हुआ था जिसका मूल भारतीय पाठ अप्राप्य है। चीनी अनुवाद लियेऊ-तुत्सी-किंग नामक पुस्तक में सुरक्षित है।</p>
                <p class="text-justify p-2">'अनामकं जातकम्' में किसी पात्र का नामोल्लेख नहीं हुआ है, किंतु कथा के रचनात्मक स्वरुप से ज्ञात होता है कि यह रामायण पर आधारित है, क्योंकि इसमें राम वन गमन, सीता हरण, सुग्रीव मैत्री, सेतुबंधष लंका विजय आदि प्रमुख घटनाओं का स्पष्ट संकेत मिलता है। नायिका विहीन 'अनामकं जातकम्', जानकी हरण, वालि वध, लंका दहन, सेतुबंध, रावण वध आदि प्रमुख घटनाओं के अभाव के बावजूद वाल्मीकि रामायण के निकट जान पड़ता है। अहिंसा की प्रमुखता के कारण चीनी राम कथाओं पर बौद्ध धर्म का प्रभाव स्पष्ट रुप से परिलक्षित होता है।</p>
            </div>
        </div>
        <div class="row">
            <div class="container shadow">
                <p class="text-justify p-2">तिब्बती रामायण की छह प्रतियाँ तुन-हुआंग नामक स्थल से प्राप्त हुई है। उत्तर-पश्चिम चीन स्थित तुन-हुआंग पर ७८७ से ८४८ ई. तक तिब्बतियों का आधिपत्य था। ऐसा अनुमान किया जाता है कि उसी अवधि में इन गैर-बौद्ध परंपरावादी राम कथाओं का सृजन हुआ।१ तिब्ब्त की सबसे प्रामाणिक राम कथा किंरस-पुंस-पा की है जो 'काव्यदर्श' की श्लोक संख्या २९७ तथा २८९ के संदर्भ में व्याख्यायित हुई है।</p>
                <p class="text-justify p-2">किंरस-पुंस-पा की राम कथा के आरंभ में कहा गया है कि शिव को प्रसन्न करने के लिए रावण द्वारा दसों सिर अर्पित करने के बाद उसकी दश गर्दनें शेष रह जाती हैं। इसी कारण उसे दशग्रीव कहा जाता है। महेश्वर स्वयं उसके पास जाते हैं और उसे तब तक के लिए अमरता का वरदान देते हैं, जब तक कि उसका अश्वमुख मंजित नहीं हो जाता।</p>
                <p class="text-justify p-2">इंडोनेशिया और मलयेशिया की तरह फिलिपींस के इस्लामीकरण के बाद वहाँ की राम कथा को नये रुप रंग में प्रस्तुत किया गया। ऐसी भी संभावना है कि इसे बौद्ध और जैनियों की तरह जानबूझ कर विकृत किया गया। डॉ. जॉन आर. फ्रुैंसिस्को ने फिलिपींस की मारनव भाषा में संकलित इक विकृत रामकथा की खोज की है जिसका नाम मसलादिया लाबन है। इसकी कथावस्तु पर सीता के स्वयंवर, विवाह, अपहरण, अन्वेषण और उद्धार की छाप स्पष्ट रुप से दृष्टिगत होता है।</p>
                <p class="text-justify p-2">मलयेशिया का इस्लामीकरण तेरहवीं शताब्दी के आस-पास हुआ। मलय रामायण की प्राचीनतम पांडुलिपि बोडलियन पुस्तकालय में १६३३ई. में जमा की गयी थी।१ इससे ज्ञात होता है कि मलयवासियों पर रामायण का इतना प्रभाव था कि इस्लामीकरण के बाद भी लोग उसके परित्याग नहीं कर सके। मलयेशिया में रामकथा पर आधरित एक विस्तृत रचना है 'हिकायत सेरीराम'। इसका लेखक अज्ञात है। इसकी रचना तेरहवीं से सत्रहवीं शताब्दी के बीच हुई थी। इसके अतिरिक्त यहाँ के लोकाख्यानों में उपलब्ध रामकथाएँ भी प्रकाशित हुई हैं। इस संदर्भ में मैक्सवेल द्वारा संपादित 'सेरीराम', विंसटेड द्वारा प्रकाशित 'पातानी रामकथा' और ओवरवेक द्वारा प्रस्तुत हिकायत महाराज रावण के नाम उल्लेखनीय हैं।</p>
                <p class="text-justify p-2">हिकायत सेरीराम विचित्रताओं का अजायब घर है। इसका आरंभ रावण की जन्म कथा से हुआ है। किंद्रान (स्वर्गलोक) की सुंदरियों के साथ व्यभिचार करने वाले सिरानचक (हिरण्याक्ष) को पृथ्वी पर दस सिर और बीस भुजाओं वाले रावण के रुप में जन्म लेना पड़ा। वह चित्रवह का पुत्र और वोर्मराज (ब्रह्मराज) का पौत्र था। चित्रवह को रावण के अतिरिक्त कुंबकेर्न (कुंभकर्ण) और बिबुसनम (विभीषण) नामक दो पुत्र और सुरपंडकी (शूपंणखा) नामक एक पुत्री थी।</p>
            </div>
        </div>
        <div class="row bg-dark text-info">
            <div class="container shadow">
                <p class="text-justify p-2">दुराचरण के कारण रावण को उसके पिता ने जहाज से बुटिक सरेन द्वीप भेज दिया। वहाँ उसने अपने पैरों को पेड़ की डाल में बाँध कर तपस्या करने लगा। आदम उसकी तपस्या से प्रसन्न हो गये। उन्होंने अल्लाह से आग्रह किया और उसे पृथ्वी, स्वर्ग और पाताल का राजा बनवा दिया। तीनों लोकों का राज्य मिलने पर रावण ने तीन विवाह किया। उसकी पहली पत्नी स्वर्ग की अप्सरा नील-उत्तम, दूसरी पृथ्वी देवी और तीसरी समुद्रों की रानी गंगा महादेवी थी। नीलोत्तमा ने तीन सिरों और छह भुजाओं वाले एंदेरजात (इंद्रजित), पृथ्वी देवी ने पाताल महारायन (महिरावण) और गंगा महादेवी ने गंगमहासुर नाम के पुत्रों को जन्म दिया।</p>
                <p class="text-justify p-2">यू-टिन हट्वे ने बर्मा की भाषा में राम कथा साहित्य की सोलह रचनाओं का उल्लेख किया है-१ (१) रामवत्थु (१७७५ई. के पूर्व), (२) राम सा-ख्यान (१७७५ई.), (३) सीता रा-कान, (४) राम रा-कान (१७८४ई.), (५) राम प्रजात (१७८९ई.), (६) का-ले रामवत्थु (७) महारामवत्थु, (८) सीरीराम (१८४९ई.), (९) पुंटो राम प्रजात (१८३०ई.), (१०) रम्मासुङ्मुई (१९०४ई.), (११) पुंटो रालक्खन (१९३५ई.), (१२) टा राम-सा-ख्यान (१९०६ई.), (१३) राम रुई (१९०७ई.), (१४) रामवत्थु (१९३५ई.), (१५) राम सुम: मुइ (१९३ ई.) और (१६) रामवत्थु आ-ख्यान (१९५७ई.)।</p>
                <p class="text-justify p-2">
                    राम कथा पर आधारित बर्मा की प्राचीनतम गद्यकृति 'रामवत्थु' है। इसकी तिथि अठारहवीं शताब्दी निर्धारित की गयी है। इसमें अयोध्या कांड तक की कथा का छह अध्यायों में वर्णन हुआ है और इसके बाद उत्तर कांड तक की कथा का समावेश चार अध्यायों में ही हो गया है। रामवत्थु में जटायु, संपाति, गरुड़, कबंध आदि प्रकरण का अभाव है।
                    <br /> रामवत्थु की कथा बौद्ध मान्यताओं पर आधारित है, किंतु इसके पात्रों का चरित्र चित्रण वाल्मीकीय आदर्शों के अनुरुप हुआ है।
                </p>
                <p class="text-justify p-2">
                    हिन्दू पुराणिक भगवान विष्णु की भी लगभग सभी बुद्धिष्ट देशो में पूजा होती , कम्बोडिया में महाराज सूर्यदेव वर्मन ने अंकोरवाट का मंदिर बनवाया था वैसा मन्दिर पूरी दुनिया मे कहि नही है । उसे विश्व विरासत के रूप में यूनेस्को ने जगह दी है यह मंदिर मिस्र के पिरामिडों से भी ज्यादा आश्चर्य जनक है , (youtube पर वीडियो देख लेवे) ...श्री लंका में विष्णु को Upulvan or uthpala (Pali. Uppala-Vaṇṇa) नाम से जाना जाता है और उन्हें बुद्धिज़्म के सरंक्षक Dharmapālas (Dharma Protectors) की तरह माना जाता है ।Vishnu as Upulvan is the Kshetra-Pāla (Protector of the Land) of Sri Lanka. इसके अतिरिक्त बुद्धिज़्म में विष्णु पूजा थाईलैंड , मलेशिया , बैंकोग में भी होती है वहा उनके मन्दिर है ।
                    Sinhala Buddhist सम्प्रदाय के लोग बुद्ध को प्रमुखता से पुजते है । Lankatilaka and Gadaladeniya Buddhist विष्णु मन्दिर भी बुद्धिस्टो द्वारा बनवाये गए है ।
                </p>
                <p class="text-justify p-2">Theravada Buddhism सम्प्रदाय के लोग तो बुद्ध को भी विष्णु का अवतार मानते है ।</p>
                <p class="text-justify p-2">
                    6th से 8th शताब्दी के मध्य विष्णु मंदिर पूर्वी Prachinburi Province and central Phetchabun Province of Thailand में बनवाये गए । और southern Đồng Tháp Province and An Giang Province वियतनाम में बनवाये गए ।
                    जापान में विष्णु को Bichū-ten(毘紐天) के नाम से जाना जाता है ।
                </p>

                <p class="text-justify p-2">वियतनाम आदि Buddhist southeast Asian देशों में Trivikrama नाम से विष्णु प्रसिद्ध है । मिस्रवासियों के भगवान Horus को भी विष्णु का ही रूप माना जाता था । रूसी archaeologist ( पुरातत्ववेत्ता) Alexander Kozhevin को रूस के वोल्गा नदी के समीप भी विष्णु की मूर्तिया मिली थी जिसने पर उन्होंने आश्चर्य भी जताया था । Karandavyuha Sutra के अनुसार ,</p>
                <p class="text-justify p-2">
                    nārāyaṇavaineyānāṁ sattvānāṁ nārāyaṇarūpeṇa dharmaṁ deśayati
                    [Avalokitesvara बुद्ध ] instructs Dharma in the form of Narayana , for the beings who are to be converted by Narayana.
                </p>
            </div>
        </div>
        <div class="row bg-secondary text-warning">
            <div class="container shadow">
                <h3 class="bg-info text-white p-3">विष्णु</h3>
                <p class="text-justify p-2">
                    बुद्धो की वज्रयान शाखा (तन्त्र मन्त्र मानने वाले) भी विष्णु को Parivāra Deva रुद्र के नाम से पूजते है । बुद्धो के इस सम्प्रदाय की पुस्तक
                    Nishpannayogāvali में विष्णु के वर्णन कई बार मिलते है ।
                    जिसमे विष्णु के स्वरूप के बारे में लिखा है जो हूँ ब हूँ हिन्दुओ के विष्णु भगवान से मिलते है ।
                </p>
                <p class="text-justify p-2">
                    garuḍe viṣṇuś-caturbhujaḥ cakraśaṅkhabhṛt
                    savyavāmābhyāṁ mūrdhni kṛtāñjalir-gadā
                    śārṅgadharaḥ
                </p>
                <p class="text-justify p-2">On a Garuda there is Vishnu with four arms. With the two principal hands carrying the Cakra and the Shankha he displays the Anjali on his head. With the two others he holds the Gada and the bow.</p>
                <p class="text-justify p-2">अन्तर्राष्ट्रीय संयुक्त राम राज्य संसद, (RAM RAJYA WORLD PARLIAMENT) का समर्थन करने के लिए जुडें I</p>
                <p class="text-justify p-2">
                    स्वयम् सदस्य बने सदस्यता तथा
                    सदस्यता के अभियान में शामिल हो I
                </p>
                <p class="text-justify p-2">
                    क्षसस्थापक अध्यक्ष CALL 08920989066, 09868576628
                </p>
                <p class="text-justify p-2">अन्तर्राष्ट्रीय भक्त मंडल निदेशक 07390817923</p>
            </div>
        </div>
