<div class="container text-left">

    Name……………………………………………………………<br />
    Name of Father/husband/Guardian/wife ……………………………………………………………………<br />
    Address………………………………………………………………………………………………………………………………<br />
    email ….………………………………………………………..<br />
    Mobile / Telephone No……………………………………..<br />
    Brief / Detail of grievance/Panic - problem, Secluded Person / Idle-Extra money – Idle source ….……………………………………………………………….
    (Physical / Material services / Supports - Desired / Offered)
</div>
