@{
    ViewBag.Title = "CRASMIB Organization";
}
<div class="row bg-info text-white p-3">
    <div class="container">
        <img src="~/Images/Common/about-us-CRASMIB_INDIA.png" class="img-fluid w-100" alt="Centre for Research in Ayurveda and Social Medicine for International Brotherhood" title="Centre for Research in Ayurveda and Social Medicine for International Brotherhood" />
        <h4 class="text-right bg-danger p-2">Centre for Research in Ayurveda and “Social Medicine for International Brotherhood”</h4>
    </div>
</div>


<div class="row bg-light  p-3 mt-1 mb-1">
    <div class="container shadow bg-light text-justify p-3 ">
        <p>CENTRE FOR RESEARCH IN AYURVEDA AND SOCIAL MEDICINE FOR INTERNATIONAL BROTHERHOOD is located in Delhi. CENTRE FOR RESEARCH IN AYURVEDA AND SOCIAL MEDICINE FOR INTERNATIONAL BROTHERHOOD (CRASMIB-Trust) is registered as a Trust at state of Delhi with Ngo unique registration ID 'DL/2011/0043138' . The NGO registration is done by Sub-Registrar with registration number 6812/4, Vol. 2514/77-87 on the date of 18-09-1992. The Chairman/ Chief functionary officer of CENTRE FOR RESEARCH IN AYURVEDA AND SOCIAL MEDICINE FOR INTERNATIONAL BROTHERHOOD is Dr Jitendra Singh.</p>
        <p>Centre for Research in Ayurveda and “Social Medicine for International Brotherhood” (CRASMIB-Trust) with Its registered office  Fourth Floor, Pal Mohan Sadan, 26/32, East Patel Nagar (Rajendra Place), New Delhi-110008 is a fast growing NGO/ Public Trust / Society constantly fighting for the cause of the community. The prime object of the NGO is to mobilize efforts for overall development of weaker and marginalized section of Indian Society. The organization is implementing various welfare programs in National Capital Region and expanded its base in all other part of the county.</p>
        <p>CRASMIB on its panel has so many intellectual and prominent personalities those have joined the hand to promote and eradicate the social causes prevailing in our society especially in rural areas. Almost people from all the streams have joined the CRASMIB Trust - society to promote its aims and objects. Society has economist, environmentalist, psychologists, sociologists, thinkers, doctors, engineers and management Govt’s retired people who are constantly putting their efforts to find out concrete solutions to the prevailing socio-economic conditions and deteriorating social structure of the society in its achievable frame. Our aims are great, name of the organization is self-explanatory, our efforts may be enhanced as and when it is supported by the Government and the administration.</p>

    </div>
</div>


<div class="row bg-info text-white p-3 m-1">
    <div class="container">
        <h3 class="text-right text-uppercase">Philosophy and ideology adopted by the organization</h3>
    </div>
</div>
<div class="row bg-light  p-3 mt-1 mb-1">
    <div class="container shadow bg-light text-justify p-3">
        <ul class="list-group p-3">
            <li>Respect for human dignity and self-respect is the core for any development work (no charity)</li>
            <li>Every culture to be respected and enriched through social development activities (Destruction of culture and religion is anti-development)</li>
            <li>To bring the marginalized and poor to mainstream of the society through Education, Training and development.</li>
            <li>Any help or services rendered to those who need assistance is to help to stand on their own feet and move towards independence and self-reliant.</li>
            <li>To empower people to help them to realize their potentials and exercise their talents and abilities to the maximum extend.</li>
        </ul>
    </div>
</div>
<div class="clearfix"></div>
<div class="row bg-info text-white p-3 m-1">
    <div class="container">
        <h3 class="text-right text-uppercase">Prospective And Approaches Applied </h3>
    </div>
</div>
<div class="row bg-light  p-3 mt-1 mb-1">
    <div class="container  shadow bg-light text-justify p-3">
        <ul class="list-group p-3">
            <li>Holistic Approach</li>
            <li>People Oriented And People Centered Approach</li>
            <li>Corporate Approach </li>
            <li>Community Based Approach</li>
            <li>Multi-Related Approach</li>
        </ul>
    </div>
</div>
<div class="clearfix"></div>
<div class="row bg-info text-white p-3 m-1">
    <div class="container">
        <h3 class="text-right text-uppercase">Key Issues </h3>
    </div>
</div>
<div class="row bg-light  p-3 mt-1 mb-1">
    <div class="container  shadow bg-light text-justify p-3">
        <p>
            This CENTRE FOR RESEARCH IN AYURVEDA AND SOCIAL MEDICINE FOR INTERNATIONAL BROTHERHOOD NGO charity is working on Key Issues of
        </p>
        <div class="row p-1 m-1">
            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 p-2">
                <ul>
                    <li>Animal Husbandry</li>
                    <li>Dairying & Fisheries</li>
                    <li>Aged/Elderly</li>
                    <li>Agriculture</li>
                    <li>Art & Culture</li>
                    <li>Biotechnology</li>
                    <li>Children</li>
                    <li>Civic Issues</li>
                    <li>Differently Abled</li>
                    <li>Disaster Management</li>
                    <li>Dalit Upliftment</li>
                    <li>Drinking Water</li>
                    <li>Education & Literacy</li>
                </ul>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 p-2">
                <ul>
                    <li>Environment & Forests</li>
                    <li>Food Processing</li>
                    <li>Health & Family Welfare</li>
                    <li>HIV/AIDS</li>
                    <li>Housing</li>
                    <li>Human Rights</li>
                    <li>Information & Communication Technology</li>
                    <li>Legal Awareness & Aid</li>
                    <li>Labour & Employment</li>
                    <li>Land Resources</li>
                    <li>Micro Finance (SHGs)</li>
                    <li>Minority Issues</li>
                    <li>Micro Small & Medium Enterprises</li>
                </ul>
            </div>
        </div>
    </div>
</div>

<div class="clearfix"></div>
<div class="row bg-info text-white p-3 m-1">
    <div class="container">
        <h3 class="text-right text-uppercase">Operational States </h3>
    </div>
</div>
<div class="row bg-light  p-3 mt-1 mb-1">
    <div class="container  shadow bg-light text-justify p-3">
        <div class="row p-1 m-1">
            <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 p-2">
                <ul>
                    <li>Andaman and Nicobar Island</li>
                    <li>Andhra Pradesh</li>
                    <li>Arunachal Pradesh</li>
                    <li>Assam</li>
                    <li>Bihar</li>
                    <li>Chandigarh</li>
                    <li>Chhattisgarh</li>
                    <li>Dadra and Nagar Haveli</li>
                    <li>Daman and Diu</li>
                    <li>Delhi</li>
                    <li>Goa</li>
                    <li>Gujarat</li>
                    <li>Haryana</li>
                </ul>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 p-2">
                <ul>
                    <li>Himachal Pradesh</li>
                    <li>Jammu and Kashmir</li>
                    <li>Jharkhand</li>
                    <li>Karnataka</li>
                    <li>Kerala</li>
                    <li>Lakshadweep</li>
                    <li>Madhya Pradesh</li>
                    <li>Maharashtra</li>
                    <li>Manipur</li>
                    <li>Meghalaya</li>
                    <li>Mizoram</li>
                    <li>Nagaland</li>
                    <li>Orissa</li>
                </ul>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 p-2">
                <ul>
                    <li>Puducherry</li>
                    <li>Punjab</li>
                    <li>Rajasthan</li>
                    <li>Sikkim</li>
                    <li>Tamil Nadu</li>
                    <li>Tripura</li>
                    <li>Uttar Pradesh</li>
                    <li>Uttarkhand</li>
                    <li>West Bengal</li>
                </ul>
            </div>

        </div>
    </div>
</div>
<div class="clearfix"></div>
<div class="row bg-info text-white p-3 m-1">
    <div class="container">
        <h3 class="text-right text-uppercase">Operational Districts </h3>
    </div>
</div>

<div class="row bg-light  p-3 mt-1 mb-1">
    <div class="container  shadow bg-light text-justify p-3">
        <p>Andaman, Nicobar, Adilabad, Anantapur, Chittoor, Cuddapah, East Godavari, Guntur, Hyderabad, Karimnagar, Khammam, Krishna, Kurnool, Mahabubnagar, Medak, Nalgonda, Nellore, Nizamabad, Prakasam, Rangareddy, Srikakulam, Visakhapatnam, Vizianagaram, Warangal, West Godavari, Changlang, Lower Dibang Valley, East Kameng, East Siang, Lohit, Lower Subansiri, Papum Pare, Tawang, Tirap, Upper Siang, Upper Subansiri, West Kameng, West Siang, Dibang Valley, Kurung Kumey, Anjaw, Barpeta, Bongaigaon, Cachar, Darrang, Dhemaji, Dhubri, Dibrugarh, Goalpara, Golaghat, Hailakandi, Jorhat, Kamrup, Karbi Anglong, Karimganj, Kokrajhar, Lakhimpur, Marigaon, Nagaon, Nalbari, North Cachar Hills, Sivasagar, Sonitpur, Tinsukia, Araria, Aurangabad, Banka, Begusarai, Bhagalpur, Bhojpur, Buxar, Darbhanga, Gaya, Gopalganj, Jamui, Jehanabad, Kaimur (Bhabua), Katihar, Khagaria, Kishanganj, Lakhisarai, Madhepura, Madhubani, Munger, Muzaffarpur, Nalanda, Nawada, West Champaran, Patna, East Champaran, Purnia, Rohtas, Saharsa, Samastipur, Saran, Sheikhpura, Sheohar, Sitamarhi, Siwan, Supaul, Vaishali, Bastar, Bilaspur, Dantewada, Dhamtari, Durg, Janjgir-Champa, Jashpur, Kanker, Kawardha, Korba, Korea, Mahasamund, Raigarh, Raipur, Rajnandgaon, Surguja, Chandigarh, Daman, Diu, Central Delhi, East Delhi, New Delhi, North Delhi, North East Delhi, North West Delhi, South Delhi, South West Delhi, West Delhi, Dadra & Nagar Haveli, North Goa, South Goa, Ahmedabad, Amreli, Anand, Banas Kantha, Bharuch, Bhavnagar, Dahod, Gandhinagar, Jamnagar, Junagadh, Kachchh, Kheda, Mahesana, Narmada, Navsari, Panch Mahals, Patan, Porbandar, Rajkot, Sabar Kantha, Surat, Surendranagar, The Dangs, Vadodara, Valsad, Bilaspur, Chamba, Hamirpur, Kangra, Kinnaur, Kullu, Lahaul & Spiti, Mandi, Shimla, Sirmaur, Solan, Una, Ambala, Bhiwani, Faridabad, Fatehabad, Gurgaon, Hisar, Jhajjar, Jind, Kaithal, Karnal, Kurukshetra, Mahendragarh, Panchkula, Panipat, Rewari, Rohtak, Sirsa, Sonipat, Yamunanagar, Mewat, Bokaro, Chatra, Deoghar, Dhanbad, Dumka, Garhwa, Giridih, Godda, Gumla, Hazaribag, Koderma, Lohardaga, Pakur, Palamu, West Singhbhum, East Singhbhum, Ranchi, Sahibganj, Seraikela, Jamtara, Latehar, Simdega, Anantnag, Budgam, Baramulla, Doda, Jammu, Kargil, Kathua, Kupwara, Leh, Pulwama, Poonch, Rajauri, Srinagar, Udhampur, Alappuzha, Ernakulam, Idukki, Kannur, Kasargod, Kollam, Kottayam, Kozhikode, Malappuram, Palakkad, Pathanamthitta, Thiruvananthapuram, Thrissur, Wayanad, Bagalkot, Bangalore, Bangalore Rural, Belgaum, Bellary, Bidar, Bijapur, Chamrajnagar, Chickmagalur, Chitradurga, South Kannada, Davangere, Dharwad, Gadag, Gulbarga, Hassan, Haveri, Kodagu, Kolar, Koppal, Mandya, Mysore, Raichur, Shimoga, Tumkur, Udupi, North Kannada, Lakshadweep, East Garo Hills, East Khasi Hills, Jaintia Hills, Ri Bhoi, South Garo Hills, West Garo Hills, West Khasi Hills, Aizawl, Champhai, Kolasib, Lawngtlai, Lunglei, Mamit, Saiha, Serchhip, Bishnupur, Chandel, Churachandpur, Imphal East, Imphal West, Senapati, Tamenglong, Thoubal, Ukhrul, Balaghat, Barwani, Betul, Bhind, Bhopal, Chhatarpur, Chhindwara, Damoh, Datia, Dewas, Dhar, Dindori, Guna, Gwalior, Harda, Hoshangabad, Indore, Jabalpur, Jhabua, Katni, Mandla, Mandsaur, Morena, Narsinghpur, Neemuch, Panna, Raisen, Rajgarh, Ratlam, Rewa, Sagar, Satna, Sehore, Seoni, Shahdol, Shajapur, Sheopur, Shivpuri, Sidhi, Tikamgarh, Ujjain, Umaria, Vidisha, Khargone, Khandwa, Anuppur, Burhanpur, Ashoknagar, Ahmednagar, Akola, Amravati, Aurangabad, Bhandara, Beed, Buldhana, Chandrapur, Dhule, Gadchiroli, Gondia, Hingoli, Jalgaon, Jalna, Kolhapur, Latur, Mumbai, Mumbai Suburban, Nagpur, Nanded, Nandurbar, Nashik, Osmanabad, Parbhani, Pune, Raigad, Ratnagiri, Sangli, Satara, Sindhudurg, Solapur, Thane, Wardha, Washim, Yavatmal, Dimapur, Kohima, Mokokchung, Mon, Phek, Tuensang, Wokha, Zunheboto, Angul, Balangir, Baleswar, Bargarh, Boudh, Bhadrak, Cuttack, Deogarh, Dhenkanal, Gajapati, Ganjam, Jagatsinghapur, Jajpur, Jharsuguda, Kalahandi, Kandhamal, Kendrapara, Kendujhar</p>
    </div>
</div>
