
@{
    ViewBag.Title = "CENTRE FOR RESEARCH IN AYURVEDA AND SOCIAL MEDICINE FOR INTERNATIONAL BROTHERHOOD Major Activities & Achivements";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="row bg-info text-white p-3 m-1">
    <div class="container">

        <img src="~/Images/Common/ACHIVEMENTS.jpg" class="img-fluid rounded w-100" />
        <h4 class="text-right">@ViewBag.Title</h4>
    </div>
</div>

<div class="row bg-light  p-3 mt-1 mb-1">
    <div class="container shadow bg-light text-justify p-3 ">
        <p>Achievements There had been noble souls whose hearts are filled with sympathy to mitigate the suffering of people Such are the members of CRASMIB have been conducting selfless services in the field of health education and sustainable developments in all spheres of life The CRASMIB working as NGO is a well known research and welfare organization actively engaged in several socio economic activities health education sustainable including the employment generation for the youth and females .</p>
    </div>
</div>
<div class="row bg-secondary  p-3 mt-1 mb-1">
    <div class="container shadow bg-secondary text-justify text-white p-3 ">
        <p>The Trust is committed for the noble cause of humanity Established in 1992 and registered under the Indian Trust Act 1882 Year 1992 Voluminous reports had submitted on medical education and public health in India towards alternative As the minister of HRD desired needs for change the medical education wide DY NO 3912 M HRD 92 and forwarded the same to the ministry of health for suitable action The petition on the similar subject was also send to the Chief Minister of NCT Delhi and other state Year 1993 to 2000 Trust had taken of anti quackery campaign in public interest programs for awareness of public were organized and the strong correspondence was made with the anti quackery cell and minister of health GONCT The trust conducted many awareness camps in Poor localities free of charges where in thousand of patient ware benefited.</p>
    </div>
</div>
<div class="row bg-dark  p-3 mt-1 mb-1">
    <div class="container shadow bg-dark text-justify p-3  text-white ">
        <p>The various branches were established in other state across the country Year 2001 to 2002 500 Doctors trained under the sponsorship of DSACS GONCT CRASMIB released module on prevention and control of AIDS Year 2002 to 03 Research on the cultural heritage of Himalayas sponsored by Ministry of tourism and culture GOI Opening of two Libraries in the vidhansabha areas sponsored by Department of Language GONCT Year 2003 Three days National Seminar on Tribal welfare organized at Bhopal Sponsored by Ministry of Tribal welfare GOI Organization successfully ran the ten learning centers under UEE Mission of GONCT Delhi and MINISTRY of HRD GOI during March 2003 to March 2006 centers conducted at west Dist of Delhi for school dro out It covered the health services too Year 2004 NEAC sponsored by Indian Environment Society conducted in the JANKPURI area of Delhi Seminar on cultural activities was organized at Panna MP sponsored by Ministry of culture GOI Year 2005 to 2008 Innumerable public Naturopathy camps sponsored by NIN Ministry of Health and Family Welfare GOI Many other camps were organized with the collaboration of department of AYUSH and also with department of PANCHAYAT SAMAJIK NYAYA GOMP and also with the department of Forest Year 2008 to 2009 Research on dealing with AIDS conducted in MP and Mizoram sponsored by Ministry of Tribal affairs GOI IEC Campaign was launched in 6 different areas sponsored by Delhi state AIDS control society and the Program was organized in west Delhi Year 2009 to 2010 The Seminar on Integrating indigenous Wisdom of tribal system of medicines with Ayurveda with special focus on AIDS was organized on 16 Feb 2010 at AIZAWL Mizoram sponsored by Ministry of Tribal Affairs</p>
    </div>
</div>
<div class="row bg-info text-white p-3 m-1">
    <div class="container">
        <img src="~/Images/Common/CRASMIB_REMARKABLE_ACTIVITIES.jpg" class="img-fluid rounded w-100" alt="Remarkable Activities of CRASMIB India" title="Remarkable Activities of CRASMIB India" />
    </div>
</div>
<div class="row bg-light  p-3 mt-1 mb-1">
    <div class="container shadow bg-light text-justify p-3 ">
        <ol>
            <li>Three days national Seminar on Tribal welfare organized at Bhopal entitled “Major Stress on Fundamentals of Healthy Happy Family norms based on Tribal Society”, Sponsored by Ministry of Tribal welfare GoI,</li>
            <li>Organization successfully ran the ten learning centers under UEE Mission of GoNCT Delhi and MINISTRY of HR GoI during Mar 2003 to Mar 2006, center conducts at West Dist of Delhi for school dropouts.</li>
            <li>CRASMIB covered the health services too in year 2004, NEAC sponsored by Indian Environment Society conducted in the Janakpuri area of Delhi, Seminar on Cultural activities was organized at Dist Panna, Madhya Pradesh,</li>
            <li>Collection of objects of art and craft including divine herbs, “Rigveda time – Soma etc”. and documentation of cultural articrafts – music, folk dance literature, under the aegis of Central Scheme of Financial Assistance For the Preservation and Development of Cultural Heritage of the Himalayas during 2001-2002 under Department of Culture Ministry of Tourism and Culture, GoI, Center covered the health services in year 2004</li>
            <li>NEAC sponsored by Indian Environment Society conducted in Janakpuri areas of Delhi,</li>
            <li>Innumerable Public Naturopathy camps sponsored by Ministry of Health and Family Welfare, GoI,</li>
            <li>Many other camps were organized with the collaboration of Dept of AYUSH and also with Dept of PANCHAYAT SAMAJIK NYAYA GoMP and also with the department of Forest during the years 2004 to 2011</li>
            <li>Research on dealing with AIDS conducted in MP and Mizoram sponsored by Ministry of Tribal affairs GoI</li>
            <li>IEC Campaign was launched in six different areas sponsored by Delhi State AIDS control society and the programme was organized in West Delhi in year 2009 and 2010</li>
            <li>Presently conducting camps on rehabilitation of women and child including special immunity programme for children, including follow up camps all across Madhya Pradesh, Delhi, Uttar Pradesh, Uttranchal, Rajasthan, Haryana etc.</li>
        </ol>
    </div>
</div>
