
@{
    ViewBag.Title = "Mission";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row bg-info text-white p-3">
    <div class="container">

        <img src="~/Images/Common/CRASMIB_MISSION.png" class="img-fluid w-100" alt="Centre for Research in Ayurveda and Social Medicine for International Brotherhood" title="Centre for Research in Ayurveda and Social Medicine for International Brotherhood" />
        <h4 class="text-right bg-danger p-2">Centre for Research in Ayurveda and “Social Medicine for International Brotherhood”</h4>
    </div>
</div>


<div class="row bg-dark   p-3 mt-1 mb-1">
    <div class="container shadow bg-dark text-white text-justify p-3">
        <p>One of the main objectives of the CRASMIB Trust - Society is to create awareness among people/masses/communities on social issues, mobilize them for social action and motivate them to work together for Social development. The CRASMIB Trust - Society gives utmost importance to programs related to Adolescents empowerment, as they constitute the most deprived and exploited sections of our society and require special attention for its social rehabilitation. Its objectives are to import suitable training to Adolescents and make them self-dependent. It is also working for the welfare of rural and urban youth by providing them suitable training and employment through self-help groups.</p>
        <p>The proposed project is outcome of our sincere efforts that we have put in to solve the prevailing problems in the target area based on need assessment, survey and analysis work done by the social workers of the CRASMIB Society. The situation of the target community has compelled us to formulate the proposal. The CRASMIB Trust / Society has prepared the proposal with the help of the able professional with proper analysis and strategy formulation. Topography, low literacy and negligible awareness make the Adolescents folk most deprived of their basic rights, health services, etc. for which attempts were being made for a long time. Organization is willing to complement / supplement the Govt. presence in the area for betterment of the Adolescents in need.</p>

    </div>
</div>
<div class="row bg-light p-3 mt-1 mb-1">
    <div class="container shadow bg-light text-justify p-3">
        <p>This organization is working in various fields in correlation with the physical, mental, material, intellectual and spiritual development of individuals, society, Nation and the world as a whole through our intervention in the field of health and education. Seeker in any one of the field are cordially invited to participate in the health programs  conducted from time to time by Dr. Jitendra Singh Raghuvanshi, a human luminary and spiritualist besides a highly qualified Professional in Ayurveda Medicines with degrees BAMS (University of Delhi), M.D. (Ayurveda), Ph. D,  PGCR (AIIPM&R-Mumbai) Management of Biodiversity Conservation, Mgt Herbarium & Forest arboreta ( F R I ),  LL.B. from canning college in Lucknow University    and many others  awarded by various institutions of Government Of India.</p>
        <p>We have arrangements for staying with food and accommodation in Delhi, Bhopal, Indore and other cities for seeker irrespective creed, race and religion. There is couple of them already working and staying there while performing their duties for self-sustenance and are quite satisfied. Some of them are employed with jobs assigned to them by the organization itself.</p>

    </div>
</div>

<div class="row bg-secondary  p-3 mt-1 mb-1">
    <div class="container shadow bg-secondary text-white text-justify p-3">
        <p>The organization is also in possession of vast track of land on the banks of Ganga river about 140 K.M. from Delhi where a University for “Universal Brotherhood AND International Co-Operation” is being sought to be established in near future plus a KAYAKALP (rejuvenation center) with treatment by Concept of KRUNAWANTO VISHVAYURVEDAM, combining the MOKSHHA to reduce the aging process close to 20 years. </p>
        <p>CRASMIB have implemented Universalization of Elementary Education Guarantee Scheme under the Ministry of Human Resource Development; Government of India. Under this project; we have carried out the activities for a period of 5 years allotted by Directorate of Education; Government of NCT DELHI during 2003 to 2008. CRASMIB was running 12 Schools in the area of “West A Education”; New Delhi. </p>
    </div>
</div>
<div class="clearfix"></div>